[2020-10-21 02:35] STRRL opened #3 "What does the name "Nydus" means?"

[2020-10-21 03:05] bergwolf commented on #3
Something like a `nydus worm`? https://liquipedia.net/starcraft2/Nydus_Worm_(Legacy_of_the_Void)

Feel free to let your imagination fly and consider it to be anything extremely fast ;)

[2020-10-21 07:18] tedgxt opened #7 "Does Nydus support integrated with kraken?"
or integrated with harbor?

[2020-10-21 07:51] cloudaice opened #8 "Why Rust not Go ?"

[2020-10-21 08:11] jiangliu commented on #7
Nydus supports backend plugins to pull data from Registry, OSS, Dragonfly P2P. And it shouldn't be hard to support Kraken.

[2020-10-21 08:14] jiangliu commented on #8
Rust vs Go, we prefer a lightweight language runtime:)

[2020-10-24 00:31] #3 closed

[2020-10-25 07:54] luodw opened #14 "relationship with DADI?"
What is the relationship between Nydus with this Issue https://github.com/containerd/containerd/issues/2267?

[2020-10-26 03:22] bergwolf commented on #14
They are unrelated.

[2020-10-26 03:30] luodw commented on #14
How to upgrade Nydus daemon service？As I know, when fuse daemon restart, the fuse connection will disconnect and the container process will read/write failed. how Nydus gracefully solved this situation?

[2020-10-26 04:06] bergwolf commented on #14
@luodw Upgrading is something we might look at in the future. Right now we are more focused on the whole architecture and the image format.

[2020-10-26 14:30] xujihui1985 commented on #14
@luodw we have solved this situation inside Alipay, nydus has deployed in several clusters with live migrating enabled, we will also bring that to public in right time, please keep eye on this repo

[2020-10-27 06:35] luodw commented on #14
@xujihui1985 ok, I am interested in image  lazy load and I will keep eye on Nydus. One more question, What is the difference between Nydus and DADI？

[2020-10-27 06:52] xujihui1985 commented on #14
@luodw DADI is a also a great technology in terms of image lazy load, the difference is DADI is focus on block level accelerate while nydus is filesystem level, we care more about the ability of "content aware" that filesystem can provide us like file access pattern, meta data, security, etc. and these ability give us more imagination in the future.

[2020-10-27 07:04] luodw commented on #14
@xujihui1985 Nydus is similar to https://github.com/containerd/stargz-snapshotter，But Stargz Snapshotter still does not solve daemon restart gracefully. I think if Nydus support gracefully restart，It will be more used.

[2020-10-27 07:08] luodw commented on #14
Another question, how to integrate with p2p？ Every file go through p2p distrubution?

[2020-10-27 07:10] jiangliu commented on #14
You may think DADI as "ext4 + device mapper + p2p",  and actually deployment seems like ext4fs + nbd + user space device mapper + p2p.

nydus has combined "ext4 + device mapper" into rafs, a file system for container image.

[2020-10-28 00:06] liubogithub commented on #14
p2p serves as a proxy between registry and dragonfly image service on node.
Yes, file are split into chunks which are fetched from the registry through p2p when it's available.

[2020-10-29 07:19] hhstu opened #15 "疑问"
我看了一些蚂蚁的关于Nydus博客，其中容器镜像按需下载，用户不再需要下载完整镜像就能启动容器。 这句话应该怎么理解？ 比如我有个基于jdk的镜像，jdk是一层，jar包是一层，会在下载完成jdk那一层后就把容器run起来了吗？

[2020-10-29 08:03] changweige commented on #15
No. In fact,  you have to make use some kind of tool to convert your OCI image into Nydus/Rafs format. The tool which is named as `nydusify` can also be found in this repo, too. Please refer to `README.md` for trial instructions. Now, it relies on `contianerd`, however, we are planning to get rid of containerd in the soon future.

After a successful image conversion, you will have two artifacts -

[2020-10-29 08:18] changweige commented on #14
Yes. With live-upgrade and failover, it will be more suitable for a productive deployment. But it will be quite coupled with how you deploy Nydus. We are suspicious of the ubiquity.

[2020-10-30 03:03] luodw commented on #14
I am curious about the reasonability that every little file(eg. /etc/hosts) go through p2p distribution,  torrent meta file may be bigger then distributed file and it will produce many torrent meta file due to the files in /etc, /usr and so on.  So, is it a good idea to group files into a chunk(size may be 32MB, 64MB..)，it will be friendly to p2p and can also use the principle of locality.  Recent

[2020-10-30 03:39] imeoer commented on #15
Hi @hhstu , Nydus will split file data in the image layer into multiple chunks (default is 1MB per one), if the application in container request read these data (for example in your case, loading `JDK` runtime or `JAR` package), Nydus will only read from the data chunks of `JDK` or `JAR` on-demand, instead of the whole image layer data chunks.

[2020-10-30 04:25] jiangliu commented on #14
That's exactly the way we do p2p. Nydus/rafs combines all small/big data files into a blob file in chunks. The only blob file will be handled by the P2P network.

[2020-10-30 06:54] hhstu commented on #15
我会尽量在这周末搞定它的原理，如果搞不定我还会再回来问哈哈哈 @imeoer

[2020-10-30 09:50] imeoer commented on #15
@hhstu Here is our slide share on Open Infra Summit 2020, you can find more detail. ;)
https://drive.google.com/file/d/1LRfLUkNxShxxWU7SKjc_50U0N9ZnGIdV/view?usp=sharing

[2020-11-02 05:18] hhstu commented on #15
感谢！Thanks @imeoer

[2020-11-03 03:00] pengpj opened #18 "nydusify convert , throw error info "Bad file descriptor""
i try to convert an image by nydusify , env

[code]

image-server commit : `a17f7a5`

nydusify convert cmd
[code]

full log :
[code]

tree info

[code]

convert layer `sha256:57190868ac9b388928692bf16086aba4255639f3bb3cc9ce4738e3a189ea9bdd` , catch error info "Bad file descriptor"

[2020-11-03 16:49] valiantljk opened #21 "zsh: exec format error: ./nydusify"
compiled nydusify on mac with the following command:

`cd contrib/nydusify`
`make build-release`
`cd cmd`
`chmod +x nydusify`
`./nydusify convert --help`

[2020-11-04 01:47] imeoer commented on #18
Thanks @pengpj , it's a known issue, will submit PR next.

[2020-11-04 01:56] imeoer commented on #21
Hi @valiantljk, we have a specified target os platform to Linux in Makefile for compilation, so it failed to exec on the macOS. Nydusify is theoretically supported on all platforms, but we have not tested it on these.

[2020-11-04 01:57] #15 closed

[2020-11-04 08:44] luodw commented on #14
I test nydus, I have a question, how to integrate nydus with containerd?  I see nydusd will prepare a fuse mountpoint, but how to give this to containerd as a rootfs? Maybe it need containerd snapshotter as Stargz Snapshotter?

[2020-11-04 10:55] changweige commented on #14
Yes. Your guess is right. We are still preparing the needed snapshotter open-source stuff and will push it to this repo as soon as it is ready. Perhaps, @xujihui1985 can give some details about this.

[2020-11-04 11:22] imeoer commented on #18
Fixed in https://github.com/dragonflyoss/image-service/pull/23/commits/a451eb3d28b9d667106f9ea37e02f57466cbb433 .

[2020-11-04 11:22] #18 closed

[2020-11-04 13:08] luodw commented on #14
so, I wonder how to use nydus in production environment？

[2020-11-04 15:59] xujihui1985 commented on #14
nydus-snapshotter will be open-sourced soon, it is under review at this moment

[2020-11-05 10:09] proxy2008 opened #24 "Error occurred when converting image"
使用下面的命令进行镜像转换

/root/Nydus/bin/nydusify convert  、
--containerd-sock /run/docker/containerd/docker-containerd.sock 、
--source-auth  bmV3bGFuZDpOZXdsYW5kQDEyMw==  \
--nydus-image /root/Nydus/bin/nydus-image  \
--source  172.32.150.15:80/nydus/nginx_tyt:1.0.0 \
--target  172.32.150.15:80/paas_public/nginx_tyt:1.0.0-nydus \
--source-insecure true

已经设置的--source-insecure标志为true，但是仍然报了下面的错误
INFO[2020-1

[2020-11-06 01:52] imeoer commented on #24
Seems the registry token server you are using still be `https` scheme, can you pull the image using `docker pull`?

[2020-11-06 02:32] proxy2008 commented on #24
yes。

[root@vcapp23 bin]# docker pull 172.32.150.15:80/nydus/nginx_tyt:1.0.0
1.0.0: Pulling from nydus/nginx_tyt
b7e5ffe1bc2a: Pull complete
659c02e85607: Pull complete
db7cc509cc74: Pull complete
Digest: sha256:67681478d781ad69afed4f6612481e11f346f6b2d5e71ea6e0a3851e40196f89
Status: Downloaded newer image for 172.32.150.15:80/nydus/nginx_tyt:1.0.0
[root@vcapp23 bin]#

[root@vcapp23 bin]# more /et

[2020-11-10 01:44] #21 closed

[2020-11-10 01:47] imeoer commented on #24
@proxy2008 Nydusify will adapt to the auth situation, thanks for the bug report.

[2020-11-19 02:10] imeoer commented on #24
@proxy2008 Hi proxy2008, Registry auth in Nydusify has been improved in this PR #25, could you help us to retry? thanks. :)

[2020-11-24 01:24] Apokleos opened #26 "Bug Report: failed to compile nydus as the result of u64::MAX when rustc-1.42.0"
when I clone the code and try to compile it according to the docs, failure occurs with error "u64::MAX associated item not found in `u64`". Detalis as bellow:
[code]
Other information：
[code]

Solutioin:
if I use std::u64::MAX instead of u64::MAX, everything will be OK.

However, when I try it again with `rustc-1.47.0`, it will work fine, even if I dont add `std::` to `u64::MAX`.

So, I sugguest t

[2020-11-24 02:10] Apokleos opened #27 "bug report: using `-D clippy::all` causes compiling failed when rustc-1.48.0"
code fstype.push_str(".") in utils/src/fuse.rs:269:9 should correct with fstype.push('.')

Detail message as below:
[code]

[2020-11-24 03:17] bergwolf commented on #26
Hi, thanks for reporting! As a general guideline, rust is moving fast and we want to keep updated with newer rust versions instead of trying to keep backward compatible with old versions.

In this particular issue, we might choose to just fix it. Since you already solved it locally, would you mind submitting a PR to fix it?

[2020-11-24 03:21] bergwolf commented on #27
Thanks for reporting! `1.48.0` is really new ;)

[2020-11-24 11:46] #27 closed

[2020-11-25 01:17] Apokleos commented on #26
Thank you  @bergwolf
I have submitted my PR, Please review it.

[2020-11-26 05:13] #26 closed

[2020-11-27 07:16] proxy2008 commented on #24
I took the code again and compiled it.
After updating the version, a new error occurred when executing the command.

[code]

The related configuration remains the same as the original one without any changes.
If you need other useful information, I will try to provide it.

[2020-12-10 17:00] imeoer commented on #24
@proxy2008 Sorry for the late reply, we have tried to fix this issue in #32 , could you help us to retry?
Remember to add `--source-insecure` and `--target-insecure` options on Nydusify CLI. :)

[2020-12-29 09:10] luodw commented on #14
Is there a plan to push buildkit support nydus format image build? I see buildkit has been in supporting stargz image build.

[2020-12-29 09:29] jiangliu commented on #14
Yes, there's plan for upstreaming the buildkit related work.

[2021-01-05 07:10] luodw opened #37 "[nydus-snapshotter] run container err when use SingleInstance"
I follow https://github.com/dragonflyoss/image-service/blob/master/docs/containerd-env-setup.md to test nydus-snapshotter. When I not use --shared-daemon, it will run ok. but when i use --shared-daemon, it will run failed.

error is shown as bellow
![image](https://user-images.githubusercontent.com/14847074/103616738-f2489180-4f67-11eb-9318-1ad158b97863.png)

[2021-01-05 11:29] bergwolf commented on #37
@luodw could you start nydus-snapshotter with `--log-level debug` and see if there are logs about `shared_daemon`? I wonder if nydusd is running.

[2021-01-06 06:16] luodw commented on #37
@bergwolf it shows that miss required arguments
![image](https://user-images.githubusercontent.com/14847074/103735761-b8d85a80-5029-11eb-86dc-b18c2e3bc411.png)

[2021-01-08 01:47] changweige commented on #37
Regarding to `shared daemon` mode, nydus-snapshotter requests Nydus daemon to mount through HTTP API.
From what I can see from current code base, the API is no longer compatible. So this is very likely the reason why this issue happened. Sorry for the trouble. I will sync related code to upstream to make it work. Before that, please use the the other mode to start container.
Thanks for your report

[2021-01-12 08:24] Apokleos opened #39 "[bug report] Nydus source code compiling fails with rust v1.49.0."
Hi, nydus compiles failing with rustc or cargo v1.49.0.

## Rust Information and source code version
[code]
## Compiling error Information
[code]

But I have fixed it by myself. I can submit a PR, if needed!

[2021-01-12 08:26] jiangliu commented on #39
Thanks for reporting, the rustc 1.49 has stricter constraints:)
And PR is welcomed:)

[2021-01-12 08:54] Apokleos commented on #39
Thank you @jiangliu
PR is submitted. Please review it.

[2021-01-13 11:41] xujihui1985 commented on #14
@luodw https://github.com/moby/buildkit/issues/1663 do you mean this issue? I thought buildkit would use stargz to accelerate base image pulling which is a great feature, but at this moment it didn't mention anything about build stargz image natively. Anyway buildkit support is undergoing

[2021-01-14 02:40] luodw commented on #14
@xujihui1985 yeah, now, stargz and nydus should pull image and then convert when building image, it will take a long time.  If we can build nydus image without OCI image, it will have a good experience.

[2021-01-18 02:29] xujihui1985 commented on #14
@luodw absolutely, build nydus/stargz image natively will tremendously reduce the cost of image converting

[2021-01-18 03:35] Apokleos opened #41 "Nydusd starts failed with fuse"
I do it as the offical docs!

Steps as below:
1. I have successfully convert ubuntu:18.04 docker image to Nydus format image;
2. the ubutu:18.04-nydus located at current dir tmp/ as:
[code]

3.  localfs.json as below:
[code]
4. Run nydusd daemon with FUSE.  I have compiled nydus with rustc-1.47.0 and run the shell as below:
[code]
5.  pick out the error message as below
[code]
How to solve it ?
Th

[2021-01-18 03:59] bergwolf commented on #41
@Apokleos what is the kernel version that you are running?

[2021-01-18 04:44] Apokleos commented on #41
I have tried on both CentOS8 with kerner version 4.18.0-193.19.1.el8_2.x86_64 and Fedora33 with version 5.9.10-200.fc33.x86_64, and got the same error!

[2021-01-18 06:35] bergwolf commented on #41
out_opts: ASYNC_READ | ATOMIC_O_TRUNC | BIG_WRITES | HAS_IOCTL_DIR | AUTO_INVAL_DATA | DO_READDIRPLUS | READDIRPLUS_AUTO | ASYNC_DIO | WRITEBACK_CACHE | ZERO_MESSAGE_OPEN | PARALLEL_DIROPS | MAX_PAGES | CACHE_SYMLINKS | ZERO_MESSAGE_OPENDIR | EXPLICIT_INVAL_DATA

The feature bits look good. It's unclear what when wrong. CI is running `4.15.0-1037-gcp` and I run `4.19` locally. At least I don't exp

[2021-01-19 01:48] Apokleos commented on #41
I have test on my debian10 with kernel 4.19.x and it works well.
But, I find that the kernel 4.19.x using FUSE API version 7.27, while kernel 5.9.x using FUSE API version 7.31 (CentOS8 kernel 4.18 using FUSE API 7.31 too). So, I guess the FUSE API's difference may cause the failure.
When I upgrade my debian10's kernel to kernel 5.9 and run the nydusd, the failure same as the issue description occu

[2021-01-19 02:05] bergwolf commented on #41
@Apokleos Thanks for the info! It helps a lot. I'll look at newer kernel changes and see what caused the problem.

[2021-01-19 15:05] #39 closed

[2021-01-20 12:05] xunwumizhi opened #43 "failed to pull image "k8s.gcr.io/pause:3.2""
when I test `containerd` with `nydus-snapshotter` as the doc of this repository  below:
https://github.com/dragonflyoss/image-service/blob/master/docs/containerd-env-setup.md

[code]
the problem:
`failed to get sandbox image "k8s.gcr.io/pause:3.2"`
I can pull the image using docker.
How can I setting the `pause` image that can be pulled by `crictl`

[2021-01-21 01:38] #43 closed

[2021-01-21 03:42] Apokleos opened #44 "Nydus with containerd running Pod failed"
Hi, I  follow instruction doc `Nydus Setup for Containerd Environment` to test serveral times, but it's never successful.

# 0. build binaries as below:
[code]

# 1. Start containerd snapshotter for nydus
[code]
# 2. Start nydus GRPC
[code]

# 3. Configure and Start containerd and make sure containerd running well
[code]

# 4. Start A Local Registry Container
[code]

# 5.  Convert An Image To Nydu

[2021-01-21 06:37] proxy2008 commented on #24
After testing, the new options can be used for image conversion

[2021-01-21 06:46] changweige commented on #44
Hi,
I noticed that you set nydus-snapshotter's  root directory fixed at  `/var/lib/containerd/io.containerd.snapshotter.v1.nydus` where it stores metadata into its own boltdb. Can your take a try to remove that directory entirely? I doubt that inconsistency sit between containerd and snapshotter. Moreover, please ensure only one containerd daemon is running in your local node.

From the error log,

[2021-01-21 07:05] proxy2008 opened #46 "How to use the converted image to run the container in the docker environment?"
I use the following command to complete the image conversion and push it to harbor
[code]

containerd-nydus-grpc and containerd  have also been configured and restarted according to the documentation.
But when I tried to pull the image out of Gabor, there was an exception。

[code]

I tried to use k8s to run this image, but the image pull exception also occurred。

How can I use the converted image

[2021-01-21 07:25] Apokleos commented on #44
Thank you @changweige.

I have only one containerd  on my node,
[code]
Andf I have tried to remove the /var/lib/containerd/io.containerd.snapshotter.v1.nydus  even the /etc/containerd, but in vain, having the same errors

[2021-01-21 07:36] Apokleos commented on #44
I make a mistake with my containerd/config.toml. I have corrected `containerd-test` to `containerd` in config.toml.
But when I do `crictl run container-config.yaml pod-config.yaml` another error occurs,as below
[code]
and grpc nydusd error
[code]

[2021-01-21 07:40] Apokleos commented on #37
I have the same problem!!!
[code]

[2021-01-21 07:43] changweige commented on #44
Aha.
`failed to shared mount` means snapshotter commands nydusd to mount a Rafs backend via HTTP API. But right now, the API is not compatible because we have to switch to another forked crate (micro-http) first, which is undergoing. Please refer to #45 . You can still run container by removing flag  `--shared-daemon ` out from snapshotter command line. We will fix the API compatibility problem so

[2021-01-21 07:55] changweige commented on #46
Because `nydusify` only works with OCI image spec now not docker v2. We can fix this. @imeoer Can you help to push the patch up?

[2021-01-21 08:23] imeoer commented on #46
Hi @proxy2008, Nydus doesn't support docker yet, but we are working on this. Currently only supports contained + nydus snapshotter, you can try to run a container following this [tutorial](https://github.com/dragonflyoss/image-service/blob/master/docs/tutorial.md).

[2021-01-21 08:35] #24 closed

[2021-01-21 09:17] xunwumizhi opened #48 "failed in the containerd-env-setup experiment"
when I test containerd with nydus-snapshotter as the doc of this repository below:
https://github.com/dragonflyoss/image-service/blob/master/docs/containerd-env-setup.md

I have convert a nydus style image using:
`nydusify convert --nydus-image /usr/local/bin/nydus-image --source docker.io/library/ubuntu:16.04 --target localhost:5000/ubuntu:16.04-nydus`
and then the image was pushed into my local

[2021-01-22 03:37] bergwolf commented on #48
Thanks for the report. There is a known issue in the `--shared-daemon` mode. Please remove it from the `nydus-snapshotter` settings and retry.

I've raised https://github.com/dragonflyoss/image-service/pull/49 to alter the setup guide as well.

[2021-01-22 03:48] xunwumizhi commented on #48
Great!

[2021-01-22 03:54] xunwumizhi commented on #48
Great !
I remove the `--shared-daemon` arg of `nydus-snapshotter`
AND set the `containerd` config file just keep the same as written in the doc (not modified the file got from `containerd config default > /etc/containerd/config.toml` ):

[code]

[2021-01-22 03:58] #48 closed

[2021-01-22 10:33] luodw commented on #14
@xujihui1985 thank you for your reply.  recently, I test nydus with kata,  I encounter  a probrem.  kata has virtiofsd and nydus has fusefs, so application in guest VM will go through two fuse layer when reading files. so  I wonder what is the best practice to use Nydus with kata?

[2021-01-22 18:08] liubogithub commented on #14
@luodw Nydusd supports both fusedev and virtiofs interface (via `nydusd --sock` )
https://github.com/dragonflyoss/image-service/blob/7c982b2db3282d2616d37134cef8dd9ec2df426d/src/bin/nydusd/main.rs#L129

[2021-01-25 04:01] xunwumizhi opened #50 "relationship with stargz-snapshotter?"
I feel nydus have the same thinking of  `Stargz Snapshotter` https://github.com/containerd/stargz-snapshotter  about fast the container bootstrap process,  and  stargz-snapshotter also have eStargz image format like nydus's rafs image format.

why setup a new project `Nyus`, not base on the Stargz Snapshotter?  Is there some doc about explain the relationship between `Nydus`  and `Stargz Snapshott

[2021-01-25 07:18] Apokleos commented on #44
Hi， @changweige
I have removed the flag `--shared-daemon`, the original error msgs disappear. But I have another boring error msg as below:
**1. crictl run ...**
[code]
**2. nydusd error msg**
[code]

**3. want to know**
nydus with containerd or docker if there some Pre-requisites, such as host fs type?

[2021-01-25 07:45] Apokleos commented on #44
Hi，Thank you @bergwolf @changweige
I have removed the flag `--shared-daemon`, the original error msgs disappear. But I have another boring error msg as below:
**1. crictl run ...**
[code]
**2. nydusd error msg**
[code]

**3. want to know**
nydus with containerd or docker if there some Pre-requisites, such as host fs type?

[2021-01-25 08:10] luodw commented on #14
@liubogithub I check out the  example, nydus only support a read only image layer.  so if we want to use nydusd instead of virtiofsd, It should supply writable container layer or by other ways?

[2021-01-25 08:12] jiangliu commented on #14
yes, the recommend way is to use overlayfs in guest to bind nydus and another rw layer, the rw layer may be hosted by another virtio-blk device.

[2021-01-25 08:43] bergwolf commented on #44
@Apokleos please share a bit more info about your environment, namingly:
1. what is the container image you are trying to run?
2. what is the image registry you are running against?
3. what does your nydusd config file look like?
4. are you behind a proxy?

[2021-01-25 09:46] Apokleos commented on #44
Thank you @bergwolf

busybox:latest

local registry: http://localhost:5000
registry image: registry:2.7.1

[code]

No(actually, I set no_proxy=localhost,127.0.0.1, and after unset, the same error. )

[2021-01-25 09:59] bergwolf commented on #44
nydusd is trying to connect to your local registry with url:
[code]
and failed with
[code]
and looking further, it looks like there is a squid server in the middle:
[code]

Could you retry without squid?

[2021-01-25 12:27] bergwolf commented on #50
Hi @xunwumizhi, we did look into quite a few previous community works (like cernvmfs, slacker, crfs/stargz/estargz, filegrain, umoci etc.) before starting the nydus project. They all share the same goal of speeding up container startup process, and each has different drawbacks here or there.

To explain why not `estargz` in particular, its layered TOC design makes it less optimal because each laye

[2021-01-26 03:24] Apokleos commented on #44
I don't know why the squid server ip-172-31-29-60 is here, maybe the VM contains some other agent service. In order to eliminate the impact, I have unset all of proxy and other services which can be stopped.

Thanks `Bro Tao`@bergwolf  for patient answer.

I have solved it, images can be converted ok and containers is running.

[2021-01-26 03:24] #44 closed

[2021-01-27 02:26] Apokleos opened #51 "How to use Nydus with Harbor as the registry backend ?"
I met Fatal error, when I nydusify convert image. error msg as below:
[code]

My whole work  as below:
I have setup a private harbor registry, the registry as `10.3.4.10:80 ` .

(1) I have tested with `docker login/pull/push`. In a word, the harbor registry is ok.
(2) I configured the /etc/containerd/config.toml as below:
[code]
(3) crictl pull images ok
[code]

(4) nydusd config as below
[code]
(

[2021-01-27 02:31] imeoer commented on #51
@Apokleos Seems like the registry can't accept Nydus manifest, what's the Harbor version?

[2021-01-27 03:37] imeoer commented on #51
Could you please paste the file content of `./tmp/10.3.4.10:80/nydusd/ubuntu-nydus:18.04/manifest.json` ?

[2021-01-27 04:29] Apokleos commented on #51
Thanks @imeoer . the harbor version is `v1.2.0-rc4-7-gb0adf7e`

[2021-01-27 04:41] Apokleos commented on #51
There is no file `manifest.json` at the location.
[code]

[2021-01-27 05:48] bergwolf commented on #51
@Apokleos your harbor version is too old? I tested with harbor's official demo server (https://goharbor.io/docs/2.1.0/install-config/demo-server/, which is 2.1.0?) and it works with nydus smoothly.

Can you retry with a newer harbor? It's possible that old harbor doesn't support the OCI artifacts spec.

[2021-01-27 05:58] imeoer commented on #51
@bergwolf @Apokleos I tested on harbor v2.1.3, it also works. maybe harbor v1.2.0 only supports docker image format, Nydusify only supports OCI image.

[2021-01-27 06:39] Apokleos commented on #51
Thank you @imeoer @bergwolf.
Harbor v1.2.x is indeed too old. I redeploy a new one v2.1.3, and it does work smoothly.

So, harbor version, maybe newer and better!

[2021-01-27 06:39] #51 closed

[2021-01-27 07:01] jiangliu commented on #51
it would be great to document the supported harbor versions.

[2021-01-27 09:01] bergwolf commented on #51
Good point! We should layout a document on harbor integration.

[2021-01-27 14:35] #41 closed

[2021-01-28 07:03] Apokleos commented on #41
Thanks @bergwolf , I have tested on my fedora33 with 5.9.x, and it  works smoothly now.

[2021-01-28 07:08] bergwolf commented on #41
Thanks for confirming that @Apokleos !

[2021-02-01 08:33] bergwolf commented on #37
@luodw @Apokleos This should have been fixed with current master. Please reopen if you see it again. Thanks!

[2021-02-01 08:33] #37 closed

[2021-03-08 07:45] changweige commented on #7
I am closing this issue because no activity on this for a long time.

[2021-03-08 07:45] #7 closed

[2021-03-08 07:45] changweige commented on #8
I am closing this issue because no activity on this for a long time.

[2021-03-08 07:45] #8 closed

[2021-04-07 19:40] will-ds commented on #46
Any updates on Docker V2 support? This would be **very** useful

[2021-04-08 00:29] will-ds opened #103 "nydusd vs containerd-nydus-grpc and setup on Kubernetes"
My ultimate goal is to be able to run the image service on Kubernetes, but first I'm having trouble understanding where `nydusd` and `containerd-nydus-grpc` fit into the bigger picture.

Where is the `nydusd` daemon used vs the `containerd-nydus-grpc` daemon? If I had a nydus image stored in a registry, and I wanted to use the image service to pull and run this image on kubernetes (lets assume GKE

[2021-04-08 00:44] liubogithub commented on #103
`containerd-nydus-grpc` is the remote snapshotter which invokes `nydusd` to do the real job for preparing rootfs of the running container.  IOW, `containerd-nydus-grpc` is the only daemon we need to run during setup.

More details are available at [here](https://github.com/dragonflyoss/image-service/blob/7c982b2db3282d2616d37134cef8dd9ec2df426d/docs/containerd-env-setup.md#start-containerd-snapsho

[2021-04-08 00:47] liubogithub commented on #50
@xunwumizhi Should you have further questions, please reopen the issue, thanks.

[2021-04-08 00:47] #50 closed

[2021-04-08 00:48] liubogithub commented on #14
@luodw Should you have further questions, please reopen the issue or open a new one, thanks.

[2021-04-08 00:48] #14 closed

[2021-04-10 20:53] will-ds commented on #103
Thank you!

[2021-04-10 20:53] #103 closed

[2021-07-06 19:09] liubogithub opened #121 "Use thiserror crate to simply errors across the repo"
Errors like `DaemonError`, `RafsError` can be simplified with the abilities provided in `thiserror` crate.

For instance, display, from can be derived directly if using thiserror.

[2021-07-08 01:53] changweige commented on #121
Thanks for your suggestion. It sounds like a good idea.

[2021-08-20 08:53] Bowser1704 opened #145 "Pass correct log level from snapshotter to nydusd"
https://github.com/dragonflyoss/image-service/blob/b70093212547c1c23d14ee8a0777564d166d02c9/contrib/nydus-snapshotter/pkg/process/manager.go#L129-L135

It seems always set nydusd log level  to be `info`.

[2021-08-20 10:33] Bowser1704 opened #146 "Store daemon in storage before start daemon cause the pid of daemon in storage be zero."
https://github.com/dragonflyoss/image-service/blob/8b10aff71758ea08eb0198aad59688c52b5cda0c/contrib/nydus-snapshotter/pkg/filesystem/nydus/fs.go#L307-L328

https://github.com/dragonflyoss/image-service/blob/8b10aff71758ea08eb0198aad59688c52b5cda0c/contrib/nydus-snapshotter/pkg/process/manager.go#L109-L127

The logic seems like:
1. create new daemon
2. store it in storage (i.e. call `fs.manager.New

[2021-08-20 11:09] Bowser1704 commented on #145
There seems no graceful way to pass the value to the `Manager` directly, maybe add a field in config is a better way.

[2021-08-20 11:28] imeoer commented on #145
@Bowser1704 Thanks for finding this issue, you can propose a PR if you're happy. ;)

[2021-08-20 13:51] 844700118 opened #149 "Push bootstrap layer: unexpected response: 401 Unauthorized"
ctr images pull  --plain-http 192.168.1.130:8099/test/nginx:alpine
ctr images push --plain-http  192.168.1.130:8099/test/nginx:alpine
it is successful..

but
nydusify convert --nydus-image /usr/bin/nydus-image --source nginx:alpine --target 192.168.1.130:8099/test/nginx-nydus --target-insecure
The convert failed, what is the reason? Is there any configuration missing? Eagerly looking forward to re

[2021-08-20 15:14] changweige commented on #149
Generally, `nydusify` uses authentacation information from docker, which might be located at `~/.docker` .
So please try to use docker pull/push to verify your configuration correction.

[2021-08-21 03:24] 844700118 commented on #149
It succeeded, thank you very much for your help.

[2021-08-21 03:25] #149 closed

[2021-08-21 03:38] 844700118 opened #150 "expected cgroupsPath to be of format "slice:prefix:name" for systemd cgroups"
**1. the question: crictl runp container-config.yaml pod-config.yaml error**
**FATA[0000] run pod sandbox: rpc error: code = Unknown desc = failed to create containerd task: OCI runtime create failed: expected cgroupsPath to be of format "slice:prefix:name" for systemd cgroups, got "/k8s.io/769b91ee7615e3fcab82235c0ab0c5bf23cddbc7cc9ce22e1d82d7076e62118c" instead: unknown**

**2. configuration inf

[2021-08-21 07:36] 844700118 opened #151 "failed to create snapshot: missing parent bucket: not found"
**1. the question:  crictl runp container-config.yaml pod-config.yaml error**
**FATA[0000] run pod sandbox: rpc error: code = NotFound desc = failed to create containerd container: failed to create snapshot: missing parent "k8s.io/2/sha256:ba0dae6243cc9fa2890df40a625721fdbea5c94ca6da897acdd814d710149770" bucket: not found **

**2. configuration information**
**vi /etc/containerd/config.toml**
vers

[2021-08-21 11:18] 844700118 opened #152 "nydusd No such device"
**1. the question: nydusd No such device **
**mkdir -p /opt/nydusd && cd /opt/nydusd && nydusify convert --nydus-image /usr/bin/nydus-image --source 192.168.1.130:8099/test/nginx:alpine --target 192.168.1.130:8099/test/nginx-nydus --source-insecure --target-insecure**
......
INFO[2021-08-21T18:42:45+08:00] [BLOB] Push blob                              Digest="sha256:1066684afa53a6c811caa6b22ae6c12

[2021-08-21 16:15] 844700118 opened #153 "build failed this function takes 2 arguments but 3 arguments were supplied"
**wget https://github.com/dragonflyoss/image-service/archive/refs/heads/master.zip**
**make && make release && make docker-static**
......
 Compiling vhost v0.1.0 (https://github.com/cloud-hypervisor/vhost.git?branch=dragonball#42296415)
   Compiling micro_http v0.2.0 (https://hub.fastgit.org/cloud-hypervisor/micro-http.git?branch=master#f4405cb5)
   Compiling event-manager v0.2.0 (https://hub.fas

[2021-08-23 03:26] jiangliu commented on #153
这个是由于vmm-sys-util crate的一个breaking upgrade导致的，可以修改一下Cargo.toml锁定0.6版本。后续统一升级到0.8版本。

[2021-08-23 03:50] bergwolf commented on #150
looks like a misconfiguration in your runtime setup. Can you start a normal container without nydus?

[2021-08-23 06:05] #146 closed

[2021-08-23 06:27] 844700118 commented on #150
Can run the container normally.
ctr run -d 192.168.1.130:8099/test/nginx:alpine nginx-alpine
[root@master /opt/nydusd]#nerdctl ps
CONTAINER ID    IMAGE                                   COMMAND                   CREATED           STATUS    PORTS    NAMES
nginx-alpine    192.168.1.130:8099/test/nginx:alpine    "/docker-entrypoint.…"    13 seconds ago    Up

[2021-08-23 06:37] 844700118 commented on #150
Delete the directory /var/lib/containerd/io.containerd.snapshotter.v1.nydus, restart 2 services containerd-nydus-grpc containerd, report another error :  failed to create snapshot: missing parent bucket: not found https://github.com/dragonflyoss/image-service/issues/151

[2021-08-23 06:41] 844700118 commented on #151
It is normal to start a normal container without nydus.

ctr run -d 192.168.1.130:8099/test/nginx:alpine nginx-alpine

nerdctl ps

nginx-alpine    192.168.1.130:8099/test/nginx:alpine    **"/docker-entrypoint.…"    13 seconds ago    Up**

[2021-08-23 06:54] #145 closed

[2021-08-24 04:52] #153 closed

[2021-08-25 16:46] liubogithub commented on #152
[code]

This looks like an error in `fuse_kern_mount` where `FUSE_DEVICE` is not found.

May I know if you run this on a Mac?  @844700118

[2021-09-02 02:22] 844700118 commented on #152
非常感谢, 这个问题得到解决  @xujihui1985  @liubogithub

[2021-09-02 02:26] #152 closed

[2021-09-24 05:57] changweige commented on #46
@proxy2008 @will-ds We have already released a remote docker graph driver to help start a nydus image based container.
Please try to follow instructions from here:
https://github.com/dragonflyoss/image-service/blob/master/contrib/docker-nydus-graphdriver/README.md

[2021-09-30 10:53] gaius-qi opened #182 "Fixes clippy errors"
Fixes clippy errors.

[actions](https://github.com/dragonflyoss/image-service/pull/181/checks?check_run_id=3754976621)

[2021-12-10 06:35] liubogithub opened #237 "Support zstd compression algorithm in blob"
zstd is a widely adopted compression algorithm, compared to lz4, it offers both speed and better compression ratio.

[2021-12-10 06:41] hsiangkao commented on #237
Considering public network conditions (plus network laging) and our default 1MiB chunk size , IMO, zstd has more benefits than lz4.
Working on this within my extra time.

[2021-12-13 18:52] liubogithub opened #238 "Implement compression dictionary (aka training mode) for chunk data compression & decompression in blob file"
Per [Lz4 project page](https://android.googlesource.com/platform/external/lz4/+/2fdb46f02616301a2a34da818e58fa44f12696cf/README.md)

Since we're using crate 'lz4-sys' for compressing & decompressing chunk data and more important, chunk data is up to 1MB which  is considered as small data set for lz4 alike, it is likely that nydus can benefit a lot from applying compression dictionary.

Lz4 has off

[2021-12-14 04:27] liubogithub opened #239 "Support View method in nydus snapshotter"
For now View doesn’t work as expected.

[2021-12-14 06:09] changweige commented on #239
Thanks for reporting. I will fix this.

[2021-12-21 02:26] changweige opened #244 "Snapshot's local directories are residual"
As mentioned in PR #243

[2021-12-21 02:30] bergwolf commented on #244
Already fixed by #243

[2021-12-21 02:30] #244 closed

[2021-12-21 02:33] bergwolf opened #245 "Add rust audit/deny to CI"
Ref: https://rustsec.org/

We can let CI check for vulnerabilities dependencies and also deny improper dependencies.

[2022-01-05 07:57] bergwolf opened #252 "add golangci-lint to contrib codes"
To make them more robust.

[2022-01-10 01:42] changweige commented on #252
I guess this issue had been solved. Shall we close it?

[2022-01-10 01:47] changweige opened #263 "Make nydus-snapshotter config-path as optional"
Nydus-snapshotter's option `config-path` is required now, where actually only the registry/OSS auth has to be passed to nydusd.
But `nydus-snapshotter` now can take in auth from local host's docker configuration. It means nydus-snapshotter can make up a comprehensive json configuration file for nydusd itself. So end users can skip the configuration step. It is convenient.

[code]

[2022-01-10 10:14] changweige opened #264 "Move images annotations that need to be passed to snapshotter to snapshotter repo"
Nydus-snapshotter is being migrated from this repo to containerd organization.
Right now, nydus-snapshotter depends on nydusify for using those image annotations.
Those annotations' names is prefixed with `containerd.io/snapshot`, which will all be passed to snapshotter by containerd.

So better we move those annotations' definition to snapshotter

[2022-01-10 10:18] changweige opened #265 "Migrate contrib/nydus-snapshotter to containerd organzation"
As nydus-snapshotter has been accepted by containerd community https://github.com/containerd/project/issues/83.
We are going to migrate nydus-snapshotter to a new repo https://github.com/containerd/nydus-snapshotter under containerd soon.

[2022-01-10 23:54] #252 closed

[2022-01-11 00:05] liubogithub opened #267 "Need help on supporting trivy to scan nydus image"
Per trivy's README, trivy can scan a container image, filesystems directory and directories containing IaC files such as Terraform and Dockerfile for vulnerabilities.

We need to add nydus support in trivy to make trivy scan a nydus image or a nydus bootstrap possible.

Simply specify an image name (and a tag).

`$ trivy image [YOUR_IMAGE_NAME]`

For example:

`$ trivy image python:3.4-alpine`

[2022-01-11 02:43] imeoer opened #268 "The blobs annotation in manifest should be deprecated"
Reference: https://github.com/containerd/nydus-snapshotter/issues/5

[2022-01-11 05:59] bergwolf commented on #268
Can we have a replacement that still enables us to get the blob list statically? It is a bit heavy to run nydusd just to get the blob list. I understand that nydus-snapshotter can do it via nydusd, I'm more thinking about static analysis of nydus images.

[2022-01-11 06:01] bergwolf commented on #239
This should be moved to https://github.com/containerd/nydus-snapshotter now.

[2022-01-11 06:08] imeoer commented on #268
An alternative is to use the static inspect tool, for example:

[code]

[2022-01-11 06:13] changweige commented on #239
I closed this since a replacement now is added to https://github.com/containerd/nydus-snapshotter/issues/2

[2022-01-11 06:13] #239 closed

[2022-01-11 06:23] changweige commented on #182
What rust tool chain are you based on? Nydus pins its rust tool chain to 1.52.1.
Otherwise, should me close this issue now?

[2022-01-11 06:24] changweige commented on #263
I close this issue since a replacement is added to https://github.com/containerd/nydus-snapshotter/issues/3

[2022-01-11 06:24] #263 closed

[2022-01-13 10:05] luodw commented on #268
I have an idea, maybe we can add another blob layer xxx, it contains annotation "containerd.io/snapshot/nydus-blob-ids=true". When create container, snapshot find nydus meta layer and blob_ids layer in the meantime
 in func `findNydusMetaLayer` so as to reduse find overhead.

[2022-01-13 10:17] imeoer commented on #268
@luodw The blob layer should exist on [manifest](https://github.com/dragonflyoss/image-service/blob/7f3efa78ae3af27fbc4a0c7364672d0005ae8f56/contrib/nydusify/examples/manifest/manifest.json#L10) if using the registry as blob storage backend, so the blobs annotation is mainly used on referencing the blobs stored on another storage backend (for example oss).

[2022-01-13 10:25] luodw commented on #268
@imeoer I known, I mean we can add blob ids_list layer to manifest just like meta layer.  So it can also download from storage backend and unpack.

[2022-01-14 06:10] imeoer commented on #268
@luodw Ok, I see your point, but I don't think it's necessary to have the blob list as a layer entity, if we do that, the snapshotter needs to handle it additionally, which would be a more complicated change for nydus format.

[2022-01-20 06:48] hsiangkao opened #284 "Nydus sub-blob garbage collection support"
In order to support container OS upgrade, each increased blob stores the data difference of previous container OS images.

However, the number of such blobs can finally be very huge which impacts performance and even cannot work properly anymore, so we need to decrease the number of total blobs.

[2022-01-21 02:19] liubin opened #285 "`ctr-remote image rpull` panicked"
When running `ctr-remote image rpull --plain-http ghcr.io/dragonflyoss/image-service/alpine:nydus-latest`, it panicked:

[code]

[2022-01-21 02:37] liubin opened #286 "`nerdctl --snapshotter nydus run` failed"
[code]

Snapshotter:

[code]

[2022-01-27 07:36] changweige commented on #286
Hi @liubin
I suppose we still need further clarification for this issue.
Did you use `ctr-remote` to pull nydus image before using `nerdctl`? Currently, it is a mandatory step until we figure out a generic way together with other container image acceleration projects for using nertctl.
At present, DADI or eStargz hardcoded their snapshotter's identifier into `nertctl`, which we are not willing to

[2022-01-27 07:37] changweige commented on #285
Hi @liubin
I guess we already solved this issue offline, right?

[2022-01-27 07:39] changweige commented on #284
Why there is an impact on performance if layers is getting increased.?

[2022-01-27 07:42] changweige commented on #182
I am closing this issue since a local test has proved that no clippy warnings are thrown out and it is inactive for some time.

[2022-01-27 07:42] #182 closed

[2022-01-27 07:44] hsiangkao commented on #284
since we need to mount (or open all blobs in advance.)
The description is still incomplete for now(just to give a link to who is needed), I will fill the full request later.

[2022-01-27 09:00] liubin commented on #285
This can be closed

[2022-01-27 09:00] #285 closed

[2022-01-27 09:01] liubin commented on #286
I will evaluate it later, for now, I will use ctr-remote to test.

[2022-01-27 09:22] bergwolf commented on #286
I think we should. Until nerdctl comes up with a generic way of specifying snapshotters.

[2022-01-28 03:32] changweige commented on #265
This issue is already addressed by https://github.com/dragonflyoss/image-service/pull/270

[2022-01-28 03:32] #265 closed

[2022-01-29 12:24] liubin opened #294 "nydusctl --sock $s info cause nydusd-virtiofs panicked"
`nydusctl --sock $s info` cause `nydusd-virtiofs` crashed:

Jan 29 16:27:09 kant-server kata[30906]: time="2022-01-29T16:27:09.826984021+08:00" level=info msg="thread 'main' panicked at 'not implemented', src/bin/nydusd/virtiofs.rs:311:9" name=containerd-shim-v2 pid=30906 sandbox=ae63a1205ada600b6fab254b19fc3cf277ec6da15e37877cfeba23ff69758509 source=virtcontainers/hypervisor subsystem=nydusd
Jan

[2022-01-30 05:27] liubin commented on #294
If having backends, will get this error:

[code]

Using curl get daemon directly:

[code]

[code]

virtiofs will have a null config item.

[2022-02-07 06:50] #294 closed

[2022-02-09 19:04] liubogithub opened #296 "upgrade to use clap 3.0.14"
[clap](https://docs.rs/clap/latest/clap/) now offers a neater derive API, which can help us save hundreds of LOC in nydusd, nydus-image, etc.

[code]

[2022-02-11 06:31] changweige opened #299 "Unify fusedev and virtiofs frontend"
Two nydus runtime binaries are produced when release. One is for fusedev frontend while the other one is for virtiofs.
When nydus is working as vitriofs daemon when supply kata containers with rootfs, users have to deploy those two binaries in the same server. It brings up chaos and blur to end users.
It's better to let nydus be configure to work as FUSE daemon or virtiofs daemon.

[2022-02-15 08:04] liubin opened #300 "Crate non-x86 releases"
Now release only provides x86_64 binaries, aarch64 is also needed.

Related to https://github.com/kata-containers/tests/issues/4445

[2022-02-18 01:55] bergwolf commented on #300
It seems that github action doesn't provide non-x86_64 build platform. The only supported way is to use self-hosted aarch64 machines but we don't have aarch64 hosts. Any suggestions?

[2022-02-18 02:33] liubin commented on #300
Another choice is to build from source for aarch64.

[2022-02-28 09:10] bergwolf commented on #300
Yes, Kata can build it from source for non-x86 platforms.

[2022-03-02 07:26] bergwolf opened #318 "use thiserror"
We have quite a few places where we hand write error implementations. We can use `thiserror`(https://docs.rs/thiserror/latest/thiserror/) to simply them.

[2022-03-02 07:33] liubogithub commented on #318
dup with https://github.com/dragonflyoss/image-service/issues/121#issue-938182177

[2022-03-04 04:35] #318 closed

[2022-03-17 03:08] imeoer opened #334 "Rafs v6 unit test failed but smoke test passed"
See https://github.com/dragonflyoss/image-service/runs/5566486179?check_suite_focus=true#step:5:130

[2022-03-17 22:50] liubogithub opened #338 "is_mounted failed to find mount point if using a non-canonical path"
https://github.com/dragonflyoss/image-service/blob/48a125074fdc3f8d600f0d18d1ef0b7ab89c704d/src/bin/nydusd/fusedev.rs#L327

If a non-canonical path, e.g. `./mydebug/mntpoint` is passed, the above function failed to find the mount point as expected.

Looks like we need to ensure `is_mounted()` get a canonical path, either by itself or the caller.

[2022-03-17 23:25] liubogithub commented on #338
https://github.com/dragonflyoss/image-service/pull/339

[2022-03-23 07:27] liubogithub commented on #338
#339 has been merged, close it.

[2022-03-23 07:27] #338 closed

[2022-03-24 13:58] hsiangkao opened #348 "Optimize bootstrap size for rafs v6"
For now, bootstrap sizes of nydus rafs v6 are still far worse than the sizes of what erofs-utils generates.
We should support effective tail-packing inline with a real block allocator for rafs v6 nydus, see:
https://git.kernel.org/pub/scm/linux/kernel/git/xiang/erofs-utils.git/tree/lib/cache.c

[2022-04-01 03:24] jiangliu opened #362 "Handle std::io::Error::Interrupted from mio::poll()"
If some signal get delivered during calling mio::poll(), it will return `Err(std::io::Error::Interrupted)`. We should handle this case to retry poll again.

[2022-04-01 03:24] jiangliu commented on #362
@killagu could you please help take a look at this issue?

[2022-04-01 03:27] jiangliu opened #363 "Define v2 API for nydusd"
As we are extending nydusd to support both blobcache and fscase in addition to the original fuse/virtiofs/rafs, the service API needs to be redefined.

[2022-04-02 09:48] bergwolf opened #366 "switch nydus-cached to mio"
Right now `nydus-cached` is the only one left using `event_manager`. We can switch it to mio and drop `event_manager` dependency.

[2022-04-06 03:48] bergwolf commented on #362
It is already handled. One thing we can improve is to exit the loop when non EINTR is returned by mio poll. See https://github.com/dragonflyoss/image-service/pull/371

[2022-04-06 03:48] #362 closed

[2022-04-06 04:04] bergwolf commented on #334
fixed by #337

[2022-04-06 04:04] #334 closed

[2022-04-14 01:32] liubogithub commented on #237
The related code is located at
https://github.com/dragonflyoss/image-service/blob/d73e2711c6cbc1f1248dac683689cb93f3708707/src/bin/nydus-image/core/node.rs#L412
https://github.com/dragonflyoss/image-service/blob/d73e2711c6cbc1f1248dac683689cb93f3708707/utils/src/compress/mod.rs#L82

[2022-04-18 07:31] bergwolf opened #390 "abstract persist chunkmap (shared bitmap) into a helper crate"
There is a slightly shared-bitmap implementation in [the persist_map code](https://github.com/dragonflyoss/image-service/blob/master/storage/src/cache/state/persist_map.rs). It can be generalized into a library crate that might be useful for other projects.

[2022-04-20 05:15] liubogithub commented on #363
@pigletDips is working on this.

[2022-04-20 05:15] liubogithub commented on #348
@pigletDips is working on it.

[2022-04-20 05:16] liubogithub commented on #237
#388 has been merged.
Lets close this.

[2022-04-20 05:16] #237 closed

[2022-04-21 04:22] uran0sH commented on #366
If no one works on it, I would like to work on it.

[2022-04-22 02:47] bergwolf commented on #245
fixed

[2022-04-22 02:47] #245 closed

[2022-04-22 06:59] liubogithub commented on #366
@uran0sH Wenyu, thanks so much for taking it.

[2022-04-22 08:26] liubogithub opened #397 "make nydus blob size as small as possible"
For the same dataset, the smaller nydus blob size is , the more data chunks can be downloaded in a single amplification.
That is vital to the performance of ondemand read.

Now that we support zstd compression(#388 ), which in theory can reduce our blob size by about 10%, we're looking for other approaches to reduce nydus blob size further down.

[2022-04-25 02:12] imeoer opened #401 "Add arm support for CI and release"
We need to run CI and get the binary release for ARM platform.

[2022-04-26 09:08] liubogithub opened #403 "nydus doesn't show ".." sometimes"
With a nydus image build with `-v 6`, sometimes it doesn't show ".." in the `ls` output.

[code]

[2022-04-26 13:00] killagu opened #404 "Amplify user io for Rafs v5 break read"
https://github.com/dragonflyoss/image-service/blob/master/rafs/src/metadata/md_v5.rs#L193-L215

The `amplify_io ` method will find next ino and merge chunk for read. But next file may in another blob, it will break `BlobIoVec.validate` method.

[2022-04-28 06:44] #403 closed

[2022-04-29 08:01] liubogithub opened #414 "avoid the extra duplicated chunk info table in bootstrap"
In order to support chunk dict, Nydus v6 format now incorporates `chunk info ` table at the end of bootstrap (for more details, check [HERE](https://github.com/dragonflyoss/image-service/blob/21f5e49d44b3f482aa11ab8f290204428a822290/src/bin/nydus-image/core/bootstrap.rs#L670)), though nydus v6 format's blob already has a simplified  version of `chunk info` (w/o chunk digest).

Since it's not ideal

[2022-04-29 08:22] jiangliu commented on #414
It's really great if we could split out the blob chunk, which is only needed when:
1) data validation is enabled
2) build image

[2022-04-29 08:25] jiangliu commented on #414
For step 4, how could we choose to only download the image.boot from the tar file, skipping the image.chunk?

[2022-04-29 08:32] imeoer commented on #414
My understanding is that the `image.chunk` is placed the tail of tar stream, so we can close the http connection once the `image.boot` is downloaded.

[2022-04-29 13:16] hsiangkao commented on #414
we can follow what stargz did as Gzip(tar(image.boot)) + Gzip(tar(image.chunk)), so image.boot can be fetched in advance.

[2022-04-29 13:35] jiangliu commented on #414
we are still lacking of two things here:
1) a mechanism to identify the range of Gzip(tar(image.boot)) and Gzip(tar(image.chunk))
2) a mechanism to store hash value of Gzip(tar(image.boot)) and Gzip(tar(image.chunk))

[2022-04-29 13:47] hsiangkao commented on #414
1. we don't need to get the range in advance unless we're going to use multithread download approach, but I think in that way, we don't need to get the range as well, since we can download in 2M or whatever unit, and decompress bulks in order when available.
2. just 2 sha256 hash, it's not hard.

[2022-05-05 03:15] bergwolf commented on #404
fixed by #406

[2022-05-05 03:15] #404 closed

[2022-05-05 03:17] bergwolf opened #416 "Add a document about nydus image format"
We need a detailed document on the nydus image format, focusing on:
1. The manifest format
2. Rafsv5 bootstrap+blob format
3. Rafsv6 bootstrap+blob format

[2022-05-12 03:19] bergwolf opened #419 "blobfs does not need to depend on rafs"
Right now the only API that is needed by blobfs is fetch_range_sync https://github.com/dragonflyoss/image-service/blob/master/blobfs/src/sync_io.rs#L96. It simply passed down to the backend device. We can clean it up a bit by maintaining the backend device in blobfs itself. Then there is no need to for blobfs to depend on rafs.

[2022-05-12 03:20] bergwolf commented on #419
Ok, maybe not a `good-first-issue`. But still a simple and reasonable cleanup.

[2022-05-12 08:46] bergwolf commented on #366
@uran0sH Are you still working on it?

[2022-05-12 08:50] bergwolf opened #423 "nydus-image does not compile on macos"
See https://github.com/bergwolf/image-service/runs/6402632511?check_suite_focus=true
[code]

[2022-05-12 08:55] bergwolf commented on #300
FYI, we have aarch64 and x86_64 binaries now. See https://github.com/dragonflyoss/image-service/releases/tag/v2.0.0-rc.5

[2022-05-12 08:55] #300 closed

[2022-05-12 09:08] uran0sH commented on #366
I am busy for preparing the final exam, so I have no time to work on it.

[2022-05-12 22:30] liubogithub opened #424 "Support rafs v6 in smoke test"
Although we have rafs v6 fuse support in code, the smoke test still lacks support for rafs v6 format.

It's supposed to work for rafs v6 as well as for rafs v5.

[2022-05-12 22:37] liubogithub opened #425 "add support for rafsv6 in nydusify"
At this moment, nydusify can only do conversion from OCIv1 image to rafsv5 image, conversion from OCIv1 image to rafsv6 image needs to be supported as well.

[acceld](https://github.com/goharbor/acceleration-service) provides the required functionality, so maybe we can share the same golang package with nydusify?

[2022-05-12 22:40] liubogithub opened #426 "can nydusify support pushing the output nydus image to a different registry?"
There is a limitation of nydusify that it only pushes the converted nydus image to the same registry of the source OCIv1 image, can we make it support pushing the converted image to another registry?

[2022-05-12 22:44] liubogithub opened #427 "build nydus image from docker file with buildkit"
This issue is to track [the buildkit PR](https://github.com/moby/buildkit/pull/2581)

With the above support, one can build a nydus image with buildkit directly.

[2022-05-13 02:59] zyfjeff opened #428 "Nydusd-fuse panic when running in v6 format"
![image](https://user-images.githubusercontent.com/8816403/168202846-7373d828-4713-42c9-abfa-15f3bf6f6b6c.png)

[2022-05-13 05:47] liubogithub commented on #428
Thanks for the bug report, can you please add information about how can this panic be reproduced?

[2022-05-14 10:02] #428 closed

[2022-05-17 04:48] hsiangkao opened #432 "remove unneeded ``tree`` dependency"
[code]

command ``tree`` may not installed within every environment. it should be better to avoid it.

[2022-05-17 07:40] #432 closed

[2022-05-17 10:16] eryugey opened #435 "RFE: enhance nydus-image/nydusify check to do full filesystem check"
Currently "nydus-image check" sub-command only checks if the converted image is in valid rafs format, and doesn't do full filesystem integrity check.

We'd better to enhance nydus-image check to do full filesystem integrity check without mounting rafs.

[2022-05-18 07:23] imeoer opened #436 "Convert tar stream to nydus format"
So that we can convert an OCI layer to nydus format without unpacking the layer to a directory first, this change can improve layer conversion performance.

[2022-05-18 07:26] imeoer opened #437 "Convert nydus format to tar stream"
So that nydus blob can be converted to other OCI layer compression formats (gzip, zstd, etc.), it's useful for buildkit [force-compression](https://github.com/moby/buildkit#imageregistry) feature.

[2022-05-18 18:22] liubogithub commented on #424
#438

[2022-05-18 18:29] liubogithub opened #440 "Speed up Nydus-image create"
For a standard Linux kernel source, `nydus-image create` now takes 8s by taking the default configuration.

There are 65119 files in this kernel source, and

[code]

The above process involves
* iterating directories recursively
* reading, compressing and writing data to the final blob
* writing bootstrap

Looks like the bottleneck is not about IO since I've tried running the whole process in temp

[2022-05-19 08:17] liubogithub commented on #150
No response after Aug 31 2021.

[2022-05-19 08:17] #150 closed

[2022-05-19 08:18] liubogithub commented on #264
Is this work done yet?

[2022-05-19 08:25] #348 closed

[2022-05-19 08:27] #414 closed

[2022-05-19 08:44] imeoer commented on #264
@liubogithub not yet, but it's not a high priority.

[2022-05-27 11:14] bergwolf commented on #424
fixed by #438

[2022-05-27 11:14] #424 closed

[2022-05-28 15:45] hsiangkao opened #454 "blob gc feature for fscache with ``inuse`` and ``cull``"
We should implement these to avoid too many unused cachefiles.

also see, https://github.com/lostjeffle/demand-read-cachefilesd/blob/main/test/test13-daemon.c

[2022-05-28 15:48] hsiangkao commented on #454
@nan1994 @imeoer
please help discuss these interfaces in order to make the gc functionality work.

[2022-06-01 05:00] uran0sH commented on #296
I will work on it

[2022-06-02 09:21] imeoer opened #463 "Make nydus image more compatible with OCI"
A personal idea by @hsiangkao, but I agree with the point.

1. Allow ctr/crictl/nerdctl pull directly without nydus snapshotter;
2. Use `zstd:chunked/estargz` compression algorithm for blob layer;
3. Allow lzay pull for each blob layer with nydus snapshotter;
4. The bootstrap layer (as final layer) is compatible with erofs format (erofs on fscache), and wrap with tar (allow pulling without nydus s

[2022-06-02 14:53] laowenyi opened #465 "fork/exec /path/to/nydus-image: permission denied"
when i execute command
sudo /data/nydus-static/nydusify convert --nydus-image /path/to/nydus-image --source hub.site/test/nginx:v1.1 --target hub.site/test/nginx:v1.3

fork/exec /path/to/nydus-image: permission denied

[2022-06-02 15:15] imeoer commented on #465
The `nydus-image` is a binary file, would you make `chmod +x /path/to/nydus-image` ?

[2022-06-03 16:39] liubogithub commented on #465
@laowenyi Did `chmod +x` helps?

[2022-06-06 14:36] allencloud opened #469 "How about just naming this project NYDUS rather than image service?"
Like the title, I think almost everyone knows nydus:
* https://nydus.dev/
* the introduction in the project
* and some others
while the project name is image-service. It is quite weird.

How about just naming this project NYDUS rather than image service? @dragonflyoss/dragonfly2-maintainers

[2022-06-07 08:20] imeoer commented on #469
Couldn't agree more. cc @bergwolf

[2022-06-08 03:25] imeoer opened #475 "Support image conversion for nerdctl"
Convert an OCI image to nydus image like:

[code]

We can use the [Converter](https://github.com/containerd/nydus-snapshotter/blob/main/pkg/converter/convert_unix.go) package.

[2022-06-08 03:26] imeoer commented on #475
cc @loheagn can help to do this.

[2022-06-08 03:44] imeoer opened #477 "Build RPM package in action script"
So that we can release nydus rpm package using github action.

[2022-06-08 03:49] imeoer commented on #477
cc @power-more can help to do this, thanks!

[2022-06-11 17:19] hsiangkao opened #485 "An idea to standardize Nydus blobs"
So that each Nydus blob (including bootstrap) are all tar format:

1. bootstrap.tar includes
/d7y_nydus/fs.meta
/d7y_nydus/[blobid].blob.meta (optional, (e)stargz mandatory)
/d7y_nydus/[blobid].blob.chunkdigest (optional, (e)stargz mandatory)
...

2. each rafs.blob.tar includes
/d7y_nydus/[blobid].blob
/d7y_nydus/[blobid].blob.meta
/d7y_nydus/[blobid].blob.chunkdigest
...

3. (e)stargz.blob.tar in

[2022-06-12 05:09] jiangliu commented on #485
Interesting! We could use [Descriptor](https://github.com/opencontainers/image-spec/blob/main/descriptor.md) annotations to encode `(compressed offset, compressed size, uncompressed size)` for each tar object, then we could download needed data on-demand.

[2022-06-12 12:42] jiangliu commented on #363
We have publish nydus-api，which supports v2 API.

[2022-06-12 12:42] #363 closed

[2022-06-12 15:43] jiangliu commented on #485
How about something like this?
![截屏2022-06-12 下午11 43 16](https://user-images.githubusercontent.com/1931516/173241360-ce3c90f1-dbe0-4f6a-9bb1-3d2e6aeb0984.png)

[2022-06-12 16:00] imeoer commented on #425
Supported in https://github.com/dragonflyoss/image-service/pull/473, thanks @zyfjeff  @yawqi

[2022-06-12 16:00] #425 closed

[2022-06-13 10:11] #366 closed

[2022-06-14 10:05] bengbeng-pp opened #492 "Consultation: About Nydus use business scenarios & implementation status"
In the process of actual implementation, although the image pull time has been accelerated, the time for container startup and business has become longer. I understand that this situation is inevitable. Now ask some practical experience about the official landing to help us implement Nydus on a larger scale.

1. How much influence does the on-demand loading method have on container startup and bus

[2022-06-14 10:49] bergwolf commented on #492
Hi @bengbeng-pp, may I ask at what scale you are looking at implementing Nydus?

As shown on the Nydus website, https://nydus.dev/, we (Ant Group) create millions of containers with Nydus in production every day. Alibaba Cloud and Bytedance are also using Nydus in production on a large scale. Hope it gives you confidence about Nydus's production quality. ;)

W.r.t. your questions, in our productio

[2022-06-15 06:13] imeoer opened #496 "nydusify: append fs version annotation in image manifest"
We need to add an annotation to the image manifest for detecting the bootstrap fs version without reading the magic number from bootstrap, example:

[code]

[2022-06-15 06:16] hsiangkao commented on #496
I tend to leave this optional, both ways are ok to us.

[2022-06-15 06:23] hsiangkao commented on #469
can we have some progress on this stuff?

[2022-06-16 07:26] bengbeng-pp commented on #492
1. Ding Talk group QR code has expired, https://github.com/dragonflyoss/image-service#community .
2. The cold start in the above figure means that the application starts successfully? Is the data in the picture without the local cache?
3. What does IO amplification refer to, and is there any relevant information?
4. Have Alibaba Cloud and ByteDance landed in online applications?
5. If there is no

[2022-06-16 08:28] bengbeng-pp commented on #492
May I ask if there are any pain points now, and what will be the next evolution.

[2022-06-16 09:19] jiangliu commented on #492
Nydus provides several mechanisms to reduce jitter/improve application performance:
1) read amplification, which is something like linux readahead to reduce network QPS.
2) data layout optimization, which puts data  of files accessed by the application to the head of data blobs and prefetches those datum.
3) prefetch a list of files/directories supplied by command line options.
4) full data downlo

[2022-06-17 02:25] imeoer commented on #435
1.  `nydusify check` need to check `dev, rdev, symlink, project id, uid, gid, nlink, ctime` between source image and nydus image.
2. currently `nydusify check` only checks filesystem data (chunks) if the user provides `--backend-type registry` and `--backend-config ...`, we need to remove this limitation (e.g. automatically read registry auth from docker config).
3. currently `nydusify check` requ

[2022-06-17 02:41] aa624545345 opened #502 "can't find nydusd binary in release page"
In release page, i downloaded nydus-static-v2.0.0-linux-amd64.tgz, but i can't find nydusd binary.
where should i find nydusd, thx.
$ ls
configs  ctr-remote  nydus-cached  nydusctl  nydusd-fusedev  nydusd-virtiofs  nydus_graphdriver  nydusify  nydus-image  nydus-overlayfs

[2022-06-17 03:44] imeoer commented on #502
Sorry for the confusion, nydusd currently has two binaries, `nydusd-fusedev` (for fuse daemon mode) and `nydusd-virtiofs` (for virtiofs daemon mode), you can use `nydusd-fusedev` directly.

If you are interested, please help to update the doc, thanks!

[2022-06-17 06:29] #496 closed

[2022-06-17 07:09] bengbeng-pp commented on #492
Does the prefetch function need to record the io behavior for a period of time? Does this mean that the application needs to actually run?

[2022-06-17 07:20] imeoer opened #503 "Nydus builtin P2P support"
Nydus currently supports P2P distribution of image blob data using dragonfly, but nydus and dragonfly are deployed separately, we need to deeply integrate with dragonfly to enable builtin P2P support.

[2022-06-17 07:21] imeoer commented on #503
cc @Chenxi-Seu can help to do this, thanks!

[2022-06-17 07:25] Chenxi-Seu commented on #503
I'll try my best to improve it.

[2022-06-18 02:03] jiangliu commented on #492
There are two possible way to provide the pattern list for prefetch:
1) run the container for a while and record the accessed files
2) give some common hints according to type of applications in container. For example, there are pattarns for nodejs, python apps.

[2022-06-18 02:06] jiangliu opened #507 "Refactor the storage subsystem to support rust async io"
Current nydus uses sync IO with multi-threading, which may uses too many threads. It would be great to switch to rust async IO model. We could do it step by step and start with the storage subsystem.

A proposed model as below
![截屏2022-06-18 上午10 06 23](https://user-images.githubusercontent.com/1931516/174418401-da4044ed-0623-46b0-816e-d60a42ba0002.png)

[2022-06-19 06:59] jiangliu commented on #419
The blobfs depends on rafs to parse image metadata to figure out referenced data blobs. Any idea to get the referenced data blobs by other light-weight ways?

[2022-06-19 08:33] jiangliu commented on #299
We need to enhance the fuse-backend-rs first, to support fusedev and virtiofs concurrently.

[2022-06-21 09:31] meilier opened #520 "the docker daemon.conf in chinese_docker_graph_driver_guide should change to daemon.json"

[2022-06-21 09:49] imeoer commented on #520
Thanks for reporting! Fixed in https://github.com/dragonflyoss/image-service/pull/522.

[2022-06-21 10:22] #520 closed, assigned to nobody

[2022-06-22 07:45] changweige opened #524 "Request for brief introduction of blobfs"
After a quick glance, we don't have any documentation of `blobfs`. Can we write down something about why it is born, what benefit it brings and its use case thought nydus repo has many essential components now.

[2022-06-22 08:26] imeoer commented on #524
cc @jiangliu

[2022-06-22 08:30] imeoer commented on #299
cc @uran0sH is tracking and resolving this issue, thanks!

[2022-06-23 02:04] meilier opened #528 "Nydus Image Service v2.1.0-alpha.1 pack get error"
The command below run successfully with [Nydus Image Service v2.0.0](https://github.com/dragonflyoss/image-service/releases/tag/v2.0.0), but failed v2.1.0-alpha.1.

[code]

[2022-06-23 02:22] bergwolf commented on #528
Looks like we need a test case for `nydusify pack` as well.

[2022-06-23 02:24] zyfjeff commented on #528
Sorry, I didn't test `nydusify pack` command, I'm going to fix this and add the relevant tests

[2022-06-23 03:31] imeoer commented on #502
Thanks! fixed in https://github.com/dragonflyoss/image-service/pull/505

[2022-06-23 03:31] #502 closed

[2022-06-23 04:13] imeoer commented on #286
https://github.com/loheagn/nerdctl/commit/d666d0cb171f65f6f0ddf38e54eccd2a53e1d694

[2022-06-23 10:34] jiangliu commented on #528
A chance to add more CI cases:)

[2022-06-24 10:59] #423 closed

[2022-06-24 14:10] jiangliu opened #533 "Add CI case for explicit_uid_gid"
The #531 discloses an issue related to `explicit_uid_gid`, so we should add an CI case for it.

[2022-06-26 17:08] jiangliu commented on #507
There is still one puzzle missing, `read_vectored_at_volatile()` is sync:(
With https://github.com/cloud-hypervisor/fuse-backend-rs/pull/81 merged, we could use `async_read_vectored_at_volatile` to solve the last puzzle.
![截屏2022-06-27 上午1 07 29](https://user-images.githubusercontent.com/1931516/175825655-72630523-3f83-40f1-8c3c-d8e9e42c7d6c.png)

[2022-07-02 08:03] hsiangkao commented on #286
Issue resolved, thanks @loheagn a lot!

[2022-07-02 08:03] #286 closed

[2022-07-04 06:16] changweige opened #552 "Hardlinks in Rafs v6 have different inode numbers"
Hardlinks in the same filesystem(rafs v6) have different inode numbers.

[code]

[2022-07-04 07:33] changweige opened #554 "Rafs v6 does not pack `rdev` of special file correctly"
CI test case `test_various_file_types` fails due to inconsistent `rdev` value of block special file.
Rafs v6 image has a different `rdev` value from the source file.

[code]

[2022-07-04 07:51] imeoer opened #555 "Add description about nydus support in nerdctl doc"
https://github.com/containerd/nerdctl/blob/master/README.md

At least we can add some description in nerdctl doc about lazy pulling with nydus snapshotter.

[2022-07-04 07:53] hsiangkao commented on #555
I'm not sure if Nerdctl maintainers like it since only stargz is shown in its doc.

[2022-07-05 04:14] AkihiroSuda commented on #555
I like :+1:

[2022-07-05 05:00] hsiangkao commented on #555
Thanks a lot Akihiro Suda! We're trying our best to form an approach for Nydus, estargz and more ;)

[2022-07-05 05:03] hsiangkao opened #559 "More optimizations for estargz"
I observe many possible optimization points for estargz lazy pulling, such as:
  1) pull estargz TOCs in parallel;
  2) further investigation / improvements of estargz chunk lazy pulling;
  3) we need to support estargz prioritize files;
  4) convert all estargz TOCs to RAFS v6 bootstrap in advance as bootstrap and ship as a whole;

[2022-07-05 06:20] hsiangkao commented on #555
Hi @loheagn , would you mind adding little description about nydus as a follow-up of https://github.com/containerd/nerdctl/pull/1163 . Many thanks in advance!

[2022-07-05 07:44] loheagn commented on #555
No problem. You can assign this issue to me.

[2022-07-05 07:48] hsiangkao commented on #555
I heard that @imeoer is already on that :) Sorry for bothering, his version is almost done, we could comment the version then... thanks again!

[2022-07-05 08:08] aa624545345 opened #560 "I have a question about the data deduplication between different images."
it says in `nydus-design.md` ,  'Chunk level data deduplication'.
But in my operation, it seems that no deduplication happens beteen two images that store one same file.

The image bash3 and image busybox3 store one same file named 2.mp4.
[code]
Size of 2.mp4 is 195M.
[code]
I push these two images to registry, and convert them to nydus format using the command below:
[code]
use `ctr-remote image

[2022-07-05 08:18] hsiangkao commented on #560
Hi @aa624545345, thanks for the question.

AFAIK, `Chunk-based data deduplication` means it will de-duplicate the same chunk among blobs (layers) when building the image.

There is another CAS called local or node CAS which we're currently working on it to replace OSTree approach as a finer chunk-based local content-addressable storage. Also see, https://lore.kernel.org/all/YqZNJpgQ+xLSHBqK@debian

[2022-07-05 08:23] changweige opened #561 "Rafs v6 mount is consuming more time than v5"
Mount Rafs v6 has to fetch chunk info metadata from the storage backend for each layer/blob one by one sequentially, which Rafs v5 does not have to do. It means a container image with more layers will have a slower mount.
Better we can improve it since mount does not need chunk infos.

[2022-07-05 08:52] hsiangkao commented on #561
In the short term, we could delay blob.meta fetching to the first blob read. Thus it will avoid unnecessary blob.metas.

In the mid term, see https://github.com/dragonflyoss/image-service/issues/485 , each blob.meta can be with bootstrap.tar or  blob itself.

[2022-07-05 09:38] jiangliu commented on #560
There are several levels of chunk deduplication:
1) within a image layer
2) within all layers of current image
3) within all layers of current image and referenced images
4) within all layers of all images on local node

1 and 2 are supported by default.
For 3, you need to add parameter "parent-bootstrap" to nydus-image when generating the image.
For 4, we are designing an node local content stora

[2022-07-05 09:40] jiangliu commented on #555
Closed via https://github.com/containerd/nerdctl/pull/1189

[2022-07-05 09:40] #555 closed

[2022-07-06 01:34] aa624545345 commented on #560
Thank you for your answers.☺ @jiangliu @hsiangkao

[2022-07-06 09:37] changweige opened #565 "Nydusify converting Rafs v6 image costs nearly double time then v5"
Source image python:3.7  stored in an internal reigstry, which means network bandwidth is not a limitation.
Target registry is a locally running docker registry:2.

[code]

Rafs V5 Image conversion time including Pull and Push , Takes time 14.346 seconds
Rafs V6 Image conversion time including Pull and Push , Takes time 30.128 seconds

[2022-07-06 10:57] changweige commented on #565
26 seconds
![image](https://user-images.githubusercontent.com/23294915/177535159-1de4e0c6-5da6-408e-8797-6dd47a72af77.png)

[2022-07-06 11:00] hsiangkao commented on #565
how about v5 with `acceld`?
Anyway I think it's a runtime stuff only and need to be investigated

[2022-07-06 12:07] hsiangkao commented on #565
it seems we need another load_parent() for v6 since EROFS don't maintain the parent inode number for each inode (consider hard link cases). We can just use DFS way to generate fs tree.

[2022-07-06 13:38] changweige commented on #565
Sorry I messed up `acceld` configuraion:

For v6: 27 secs
![image](https://user-images.githubusercontent.com/23294915/177561337-49e3774a-9c18-491d-a328-bbdb56680e55.png)

For v5: 14 secs

![image](https://user-images.githubusercontent.com/23294915/177563221-e5aba3f4-3574-42c2-a1ac-ff4249788540.png)

However, it seemed that `acceld` failed pusing manifest to registry

[code]

[2022-07-06 13:39] changweige commented on #565
Do you think it is the cause why v6 conversion is slower?

[2022-07-06 13:47] hsiangkao commented on #565
not quite sure, I think we should find a way to perf the path? any perference for rust program?

[2022-07-06 23:51] #560 closed

[2022-07-07 07:12] imeoer opened #568 "Podman runtime support"
Nydus has supported containerd by nydus-snapshotter remote plugin, we can also add support for podman runtime using store plugin.

[2022-07-07 07:13] imeoer commented on #568
cc @fatelei is tracking this, thanks!

[2022-07-07 07:21] imeoer opened #569 "Support image scanner and inspector"
1. Integrate into vulnerability scanner like `trivy` for nydus image, support rootfs source first.
2. Enhance `nydus-image inspect`, to support access to nydus image filesystem without underlay backend (fusedev) supporting.

[2022-07-07 07:31] imeoer opened #571 "Track 2022 community tasks status"
| Issue                                                                                                                                        | Committer     | Mentor       | Status | PR                                                      |
| -------------------------------------------------------------------------------------------------------------------------------------------- | ------------

[2022-07-08 03:23] imeoer commented on #565
Post my test result:

| image     | tool     | fs version | time |
| --------- | -------- | ---------- | ---- |
| wordpress | acceld*   | v6         | 16s  |
| wordpress | acceld*   | v5         | 13s  |
| wordpress | nydusify | v6         | 24s  |
| wordpress | nydusify | v5         | 15s  |
| python    | acceld*   | v6         | 23s  |
| python    | acceld*   | v5         | 22s  |
| python    |

[2022-07-08 06:17] #528 closed

[2022-07-08 06:34] #554 closed

[2022-07-08 07:27] liubogithub commented on #437
Since #538 has been merged, close it.

[2022-07-08 07:27] #437 closed

[2022-07-08 09:26] jiangliu commented on #565
Seems we need to optimize nydusify, anyone working on this topic?

[2022-07-08 09:58] imeoer commented on #565
@jiangliu `Nydusify` conversion workflow is layer by layer, but `acceld` conversion layer is concurrent (via the converter package) and we will migrate nydusify to converter as well in the future.

[2022-07-08 10:06] changweige commented on #565
But it seems nydusify and acceld takes nearly the same time

[2022-07-08 10:09] changweige commented on #565
We should delve into those `nydus-image` result output.json and compare each step elapse between v5 and v6. IOW, we still need more analysis input.

[2022-07-08 17:57] liubogithub commented on #465
No response for over a month.

[2022-07-08 17:57] #465 closed

[2022-07-11 07:21] changweige opened #585 "nydusify can't parse local `/etc/hosts` when push images"
My DNS server does not have a record of the registry host name. So I put the host name - IP mapping in the `/etc/hosts`, however, nydusify **can‘t** use the info there while nerdctl/containerd and acceld can. Nyduisy still tries to lookup registry IP from my DNS server

[2022-07-11 10:52] zhangshuiyong opened #586 "[help] run Nydusd daemon with error, what argument is invalid?"
I use nydusd-fusedev to run Nydusd daemon, but occur an error like that, what argument is invalid?

<img width="1498" alt="image" src="https://user-images.githubusercontent.com/1655233/178248183-9727638d-17ee-4458-9440-543c15bb00fc.png">

**nydusd-fusedev version:**
<img width="430" alt="image" src="https://user-images.githubusercontent.com/1655233/178247994-1f841cfc-fbc6-4ff5-a306-bebf84bc9e2e.pn

[2022-07-11 10:58] changweige opened #587 "Nerdctl runs V6 nydus image slower than running V5 nydus image"
I ran [HelloBench](https://github.com/Tintri/hello-bench) container startup benchmark tool and the result follows.
Nydusd `prefetch-all` is disabled.

This might relate to https://github.com/dragonflyoss/image-service/issues/561

### nydus v5
[code]

### nydus v6
[code]

### OCI
[code]

[2022-07-11 11:22] imeoer commented on #586
Thanks for reporting, seems it is caused by the empty bootstrap file, you can try this to create bootstrap/blobs file:

[code]

Indeed the nydusd error log is confusing for users, we are trying to improve it. https://github.com/dragonflyoss/image-service/issues/121

[2022-07-12 02:18] changweige commented on #587
I also made a comparison between nydusd v1.1.2 and master code. The result follows:

This time I enabled `prefetch_all`

1.1.2
[code]

master
[code]

[2022-07-12 03:29] changweige commented on #587
I added instrument code around blob meta downloading.
From the printed message, the official python container image takes **27.88ms** to download the meta of each layer.
It looks that the meta downloading is not that time-consuming.

[code]

[code]

[2022-07-12 03:42] hsiangkao commented on #561
According to
https://github.com/dragonflyoss/image-service/issues/587#issuecomment-1181273278

Time-consuming may not be due to blob.meta fetching one by one. Yet it's still worth optimizing..

[2022-07-13 09:02] uran0sH opened #590 "nydusd api socket check"
I found that in `nydusd/fusedev`, when we create a fusedev daemon, we will check the api socket:
https://github.com/dragonflyoss/image-service/blob/master/src/bin/nydusd/fusedev.rs#L550
But in `nydusd/virtiofs`, it seems that we don't do it.
https://github.com/dragonflyoss/image-service/blob/master/src/bin/nydusd/virtiofs.rs#L402
So do we also need to check the api socket in the virtiofs?

[2022-07-13 09:18] #590 closed

[2022-07-14 02:12] changweige commented on #552
@ccx1024cc Hi Chengxu, could you please help investigate the problem?

[2022-07-14 03:54] liubogithub commented on #587
@changweige Did you run nydus v6 fuse mode?

Seems that prefetch doesn't work with multi threads, can you please confirm if it's multi thread prefetch?

[2022-07-14 04:51] changweige commented on #587
Yes.

It has 4 prefetch threads setup

[code]

[2022-07-14 10:49] weishenmezhememan opened #594 "Error: invalid bootstrap, seems have multiple non-chunk-dict blobs in this bootstrap"
When I execute the following command：
./nydus-image merge --bootstrap ./ bootstrap-split/image/image1.boot bootstrap-split/image/image.boot
image1.boot and image.boot（bootstrap） are obtained from registry storage， with dir like：
/opt/docker/registry-nydus-diff/docker/registry/v2/blobs/sha256/15/15a2fedda8342e527312825f38a17fef4fffde584cf62fb082aeedc5a841646e/data

There is an error message：
[2022-

[2022-07-14 10:55] imeoer commented on #594
Hi @weishenmezhememan how these bootstraps built? `nydus-image merge` command only support to merge the bootstrap created by `nydus-image create --inline-bootstrap` command.

[2022-07-15 06:42] weishenmezhememan commented on #594
Well, I have a requirement to reduce the volume occupied by all images in the registry. I learned that Nydus supports the same layer and cross layer multiplexing of the same image, as well as the multiplexing of two images (specified by the "--parent-bootstrap referenced image-bootstrap" parameter). I originally intended to merge the bootstrap of all images to achieve the maximum de duplication ef

[2022-07-15 07:12] liubogithub commented on #594
@weishenmezhememan
I think the followings should work for your case, take image A as the base image,
1. use nydusify convert image A to image A-nydus,
2. use nydusify convert image B to image B-nydus but with `nydusify --chunk-dict /path/to/A-image.boot`

step 2 offers the data dedup between image B and image A.

[2022-07-15 08:15] weishenmezhememan commented on #594
thanks. This is a two mirror de duplication, which I have tried before, and it is feasible. But I need to find a scheme to remove the duplicate of multiple images (maybe dozens of images), that is, when I convert the n+1 image, I can remove the duplicate as long as the files or data blocks in the previous n images appear. More guidance?

[2022-07-16 02:33] liubogithub commented on #594
Hmm, I don't think there is a one-stop solution for this.

But what we've tried is,
1. convert all oci images to nydus images,
2. analysis these nydus images with `nydus-image inspect`and dump all used chunks out,
3. find out the dup chunks from it and make a base image from these dup chunks,
4. convert all oci images again to nydus images _with_ the base image.

FYI.

[2022-07-16 02:53] benjaminhuanghuang opened #599 "erofs error: erofs_fscache_register_fs: failed to register volume for erofs"
Environment
Ubuntu 22.04 + 5.19.0-rc3 in VirtualBox

Error when I test Nydus EROFS fscache

Description:
 1. Start nydus-snapshotter using following parameters and config
[code]
nydus-erofs-config.json
[code]
2. Execute command
[code]
get error
[code]
Execute command
[code]
see error
[code]

Error at nydus-snapshotter(containerd-nydus-grpc) side, ERRO[2022-07-18T19:11:17.470042090-07:00]
[code]

3

[2022-07-16 03:39] hsiangkao commented on #599
it seems duplicated issue with https://github.com/containerd/nydus-snapshotter/issues/89 ?

[2022-07-18 01:51] kevinXYin commented on #599
Hi , before step 2 , is there already an erofs mount point? In this case, in my test for the first ctr run, the snapshotter will reply err and umount erofs mountpoint, and the next ctr run will succeed.

[2022-07-18 04:19] mofish33 commented on #599
[code]

It looks like snapshotter gets an error "request to bind fscache blob" returned before trying to mount erofs.
So the two logs bellow may not come from the same time :
[code]
[code]
Can you get more information from the containerd-nydus-grpc log?

[2022-07-19 06:23] kevinXYin opened #604 "The fetch chunks process need to be further checked for stargz case"
In do_fetch_chunks() ,  seems the chunkmap bits have not been marked as pending for stargz case , Also we should clear the pending bits when get io error.

[2022-07-19 08:07] liubogithub commented on #599
@kevinXYin @mofish33

[code]

Looks like there is a EBUSY in the first run.

[2022-07-19 11:50] kevinXYin commented on #599
Yes , then I think this is because erofs is already mounted. For now we will not umount erofs mountpoint when quieting or restarting nydus-snapshotter.

[2022-07-19 11:55] hsiangkao commented on #599
Was `nydus-snapshotter` rebooted at that time?

[2022-07-25 05:44] jongwu opened #607 "How to pronounce nydus?"
Please forgive me. It's a stupid question.
I'm new to nydus and it's confused me that how to pronounce nydus. Is there a official pronunciation?

[2022-07-25 05:58] hsiangkao commented on #607
I pronounce it as `nYdəs` personally.

[2022-07-25 08:27] zhangshuiyong opened #608 "【bug】nydusify pack can not save the blob file to the root path of oss bucket"
**nydus Version:**
2.1.0-alpha2

**oss-backend-config.json:**
<img width="439" alt="image" src="https://user-images.githubusercontent.com/1655233/180732044-e9c163c6-f322-43c9-a44b-2c952accc4ed.png">

**log:**
<img width="1324" alt="image" src="https://user-images.githubusercontent.com/1655233/180732441-3c548813-5b7a-47e7-9570-f05e3c6ed09a.png">

**Code:**
<img width="476" alt="image" src="https://

[2022-07-25 08:50] imeoer commented on #608
![image](https://user-images.githubusercontent.com/1524576/180736854-6c578771-781d-47c3-aa00-f0e73bbed982.png)

Thanks for reporting, it looks like the root cause is here.

[2022-07-26 12:03] jiangliu commented on #587
#610 tries to solve this issue

[2022-07-27 08:02] changweige opened #612 "nydusd crashed running in profile debug"
With the below change applied, assert is changed to non-debug fashion.

[code]

nydusd crashes and it should break the core io path that the essential logics are not working as expected.

[code]

[2022-07-27 08:34] imeoer commented on #612
We should consider removing the assert check and using `Result` instead.

[2022-07-27 09:14] changweige commented on #612
Before that, I suppose we should change all `degbu_assert` to `assert` and **rerun** all tests.

[2022-07-27 12:28] jiangliu commented on #612
Yes, that causes failure to debug version of nydusd.

[2022-07-28 23:06] liubogithub commented on #607
@jongwu Thanks for your interest.
Nydus comes from one of Starcraft's zerg structures, implying `a box which moves things fast`, and it matches our goal of transferring data fast exactly.

w.r.t. pronunciation, it's N+`English/aɪdəs`, the first half of `Ni-ce` and the middle part of `In-dus-try`.

[2022-07-28 23:06] #607 closed

[2022-07-28 23:11] liubogithub commented on #599
After some debugging, we found out that erofs mount point remained alive after nydus snapshotter terminated, so after nydus snapshotter restarted, the first container's running would bail out because it tried to mount the same erofs + fsid.

Looks like we need to cleanup erofs mount points at least for the above case.

[2022-07-28 23:12] liubogithub commented on #594
No response for 2 weeks, close it for now.
Will reopen it if needed.

[2022-07-28 23:12] #594 closed

[2022-07-29 00:54] liubogithub commented on #586
No response from the author for 2 weeks, close it for now.

[2022-07-29 00:54] #586 closed

[2022-07-29 00:58] liubogithub commented on #585
Besides this, nydusify also does not support a registry which has self signed certificate.

We'll fix it together.

[2022-07-29 01:00] liubogithub commented on #492
No response for 2 weeks, close it for now.

[2022-07-29 01:00] #492 closed

[2022-07-29 01:03] liubogithub commented on #267
There is an ongoing pr for this.

[2022-07-29 01:03] #267 closed

[2022-07-29 01:07] liubogithub commented on #426
Nydusify is already able to do so, close it for now.

[2022-07-29 01:07] #426 closed

[2022-08-01 07:17] changweige commented on #612
fixed by https://github.com/dragonflyoss/image-service/pull/622

[2022-08-01 07:17] #612 closed

[2022-08-01 07:32] changweige opened #624 "tokio is warning with debug mode program"
[code]

[2022-08-01 08:17] changweige commented on #585
Cool 👍

[2022-08-01 10:22] changweige commented on #552
@ccx1024cc Are we having any progress on this issue?

[2022-08-01 16:36] jiangliu commented on #587
Should have been fixed by https://github.com/dragonflyoss/image-service/pull/626.

[2022-08-02 09:19] zyfjeff opened #631 "Nydusify should use http client with retry for pull&push image"
[code]
Our Convert Top Docker Hub Images test occasionally fails due to network issues.

[code]
replace it to retryhttpclient

[2022-08-02 12:46] #587 closed

[2022-08-03 09:09] kevinXYin opened #638 "can not start a rafs v6 container in fuse mode with --shared-daemon option"
I run containerd-nydus-grpc with below cmd
 ``containerd-nydus-grpc \
    --config-path /etc/nydusd-config.json \
    --shared-daemon \
    --log-level info \
    --root /var/lib/containerd/io.containerd.snapshotter.v1.nydus \
    --cache-dir /var/lib/nydus/cache \
    --address /run/containerd/containerd-nydus-grpc.sock \
    .....``

then try to start a rafs v6 container with nerdctl , but get e

[2022-08-04 05:00] Zhuchengyu04 opened #639 "nerdctl --snapshotter nydus run failed"
`nerdctl --snapshotter nydus run` failed. I try to use `ctr-remote` to pull nydus image,  but nydus is  not working as expected.
[code]

Snapshotter:

[code]

nydusify convert:
[code]

nydus version : v2.1.0-alpha.5
nydus snapshotter version :  v0.3.0-alpha.5

[2022-08-04 06:13] imeoer commented on #639
@Zhuchengyu04 Hi, did you configure containerd with `disable_snapshot_annotations = false` option?

[2022-08-04 08:24] Zhuchengyu04 commented on #639
Yes. But I have found the problem:  the version of containerd is too old causing it not to support nerdctl.
Thanks for your help.

[2022-08-04 08:34] #639 closed

[2022-08-05 01:46] ganeshkumarashok opened #641 "Windows support for Nydus"
Hi team, are there plans for extending Nydus to support Windows: for both Windows containers in Windows hosts and Windows containers in Linux hosts? What changes would be needed for that?

[2022-08-08 05:24] jiangliu commented on #552
https://github.com/dragonflyoss/image-service/pull/643

[2022-08-08 05:24] #552 closed

[2022-08-08 05:26] jiangliu commented on #561
Now v6 should have identical performance with v5.

[2022-08-08 05:26] #561 closed

[2022-08-08 06:05] jiangliu commented on #641
That seems like a challenging requirement to nydus:)
And I'm not so familiar with Windows container storage subsystem, I will try to start the conversion by get more understanding about the requirement.
What are our target scenarios:
1) WCOW: Windows process/server container on Windows host
2) WCOW: Windows Hyper-v container on Windows host
3) WCOL: Windows container in qemu vm in Linux host
4) LC

[2022-08-09 03:08] hsiangkao commented on #641
@ganeshkumar5699  Windows has SAMBA and NFS native support and they are native file system solutions without customized drivers. We can make use of them.

[2022-08-09 04:36] changweige opened #658 "http sever occasionally return response status “Resource temporarily unavailable ”"
After scanning nydus api server code, it does not return status “Resource temporarily unavailable ”, is this returned by http server crate?

[code]

[2022-08-09 05:52] changweige commented on #658
Seems poor nydusd api server never has a chance to process this failure api request

[2022-08-09 06:13] imeoer commented on #658
Maybe the python HTTP client has opened more connections than the `MAX_CONNECTIONS` defined [here](https://github.com/openanolis/dbs-uhttp/blob/6f8a4c8a7270bc7cf61791b145486bb1687517aa/src/server.rs#L24) for keeping its connection pool.

[2022-08-09 06:19] jiangliu commented on #658
The dbs-uhttp limits the maximum concurrent connections to MAX_CONNECTIONS(10). Maybe we should enlarge the limit. The failure should be caused by the code below:
[code]

[2022-08-09 08:04] yangxiaolaing opened #661 "ctr-remote image rpull error"
[root@nydus nydus]# go version
go version go1.17.12 linux/amd64
[root@nydus nydus]#

[root@nydus nydus]# curl -XGET http://localhost:5000/v2/ubuntu-nydus/tags/list
{"name":"ubuntu-nydus","tags":["latest"]}
[root@nydus nydus]#

[root@nydus nydus]# ctr-remote image rpull --plain-http localhost:5000/ubuntu-nydus:latest
fatal error: unexpected signal during runtime execution
[signal SIGSEGV: segmentat

[2022-08-09 08:23] yixiaojie0x opened #662 "Nydusify can't convert OCI image with a big file to nydus image"
I tried to convert the OCI image ubuntu_fio:oci to nydus v6 image, which has a single 5G file
fio_test_image in it.

5.1G    fio_test_image

I used nydusify to convert it with

And I got  a panic, here comes the info

INFO[2022-08-09T10:41:11+08:00] Parsing image hub.byted.org/nydus_io_test/ubuntu_fio:oci
INFO[2022-08-09T10:41:11+08:00] Converting to localhost:5000/ubuntu_fio:nydus_v6
INFO[2022-08

[2022-08-09 08:31] changweige commented on #662
I suppose it could be a fatal problem. 🥺 @imeoer Do you have any idea on this issue?

[2022-08-09 08:41] zyfjeff commented on #662
@yixiaojie0x You seem to be using the debug version of nydus-image. Frankly speaking, this has not been tested and covered. Could you please help test the release version of nydus-image? In addition, can you provide your image address?

[2022-08-09 08:53] zyfjeff commented on #662
[code]
 .checked_sub((chunk_size * i) as u64) ->  .checked_sub(chunk_size as u64 * I)  try it ? @yixiaojie0x

[2022-08-09 09:32] imeoer commented on #662
@zyfjeff @yixiaojie0x Thanks for the report, it's my fault, fixed it in https://github.com/dragonflyoss/image-service/pull/663.

[2022-08-09 09:55] #662 closed

[2022-08-10 00:41] ganeshkumar5699 commented on #641
Thank a lot @jiangliu and @hsiangkao for sharing these details!

[2022-08-10 06:08] changweige opened #667 "Optimize entry search algorithm for rafs v6"
It would be better to implement binary search when searching an entry from directories. Now it is a linear search in the method `get_child_by_name()`

[2022-08-10 06:20] changweige commented on #667
In method `get_child_by_name`

[2022-08-10 06:28] changweige opened #668 "rotate nydusd log if it is configured to write to files"
By nydusd startup option `--log-file` , logs are written to a file. We'd better rotate it when it exceeds a certain size.

[2022-08-11 02:34] changweige opened #670 "some nydus images are larger than OCI image by about 30%"
Displayed by `nerdtcl images`
These images are converted by `acceld`
[code]

[2022-08-11 05:10] hsiangkao commented on #670
who cares? If anyone cares, they should use zstd or whatever algorithm instead of lz4.

[2022-08-11 05:44] changweige commented on #670
Customers have to pay for storage space like Aliyun OSS bucket, larger images cost more fees. 30% more fee can hardly be ignored. No matter what compression algorithm is preferred or defaulted, we'd better give customers advice. If we already figure out a better and more suitable compression algorithm, turning to that one might be better.

[2022-08-11 05:45] hsiangkao commented on #670
nope, I don't think there is a silver bullet of this. Zstd actually makes much **worse** if running with internal network.

[2022-08-11 11:17] jiangliu commented on #670
We should enable support of zstd in v2.2

[2022-08-11 11:25] imeoer commented on #670
We'd better investigate why it's so much bigger. eStargz uses gzip compression and the chunk size defaults to 4MB, the eStargz java image and OCI image are close in size.

[2022-08-11 11:52] imeoer commented on #670
Looks like zstd is the right way, I tested (using acceld) a java image with lz4 and zstd compression:

ociv1 with gzip: ~234MB
nydus with zstd: ~232MB
nydus with lz4 (default level): ~317MB

[2022-08-11 11:54] changweige commented on #670
Good to hear about it. Thanks

[2022-08-11 14:12] jiangliu commented on #670
When it's network bandwidth limited, zstd seems like the right solution.

[2022-08-11 16:08] hsiangkao opened #671 "move docker-nydus-graphdriver to https://github.com/nydusaccelerator"
docker-nydus-graphdriver is actually not useful since it's somewhat hard to make docker support lazy pulling smoothly with registries.
Let's move it into an independent repo.

[2022-08-11 16:23] hsiangkao commented on #661
That is strange. Do you have more clues about it?

[2022-08-12 01:47] changweige commented on #671
SGTM

[2022-08-12 02:36] imeoer opened #672 "Need to be fixed for docker graph driver"
We made a [graph driver plugin](https://github.com/dragonflyoss/image-service/tree/master/contrib/docker-nydus-graphdriver) to support nydus image for docker, but it is still not ready for production usage.

The problem we know with this graph driver is that the blob layers are not referenced by the image manifest, so they may be registry GC-ed.

A workaround is to make a manifest index that inclu

[2022-08-12 02:37] imeoer commented on #671
Created a [issue](https://github.com/dragonflyoss/image-service/issues/672) so that we can track it.

[2022-08-12 02:50] imeoer commented on #668
Typically nydusd is called by the control component (snapshotter/crio storage plugin), my suggestion is that nydusd should only support directing logs to stdout/stderr to allow the control component more flexibility in aggregating log timeline, filtering by subsystem, and rotating logs.

[2022-08-12 02:52] imeoer commented on #661
Could you share the containerd version connected by `ctr-remote`? And does `ctr-remote --version` work fine?

[2022-08-12 05:14] yangxiaolaing commented on #661
If you directly unzip the targz(nydus-static-v2.1.0-alpha.6-linux-amd64.tgz) package, you will get an error. If you compile the source code yourself, you will not

[2022-08-12 05:57] imeoer commented on #661
@yangxiaolaing Thanks for sharing the key point, will take a look.

[2022-08-15 03:13] Zhuchengyu04 opened #676 "crictl create container failed"
### commandline:
[code]

### shared_daemon/nydusd.log :
[code]

### shared_daemon/nydus-snapshotter.log :
[code]

containerd: ###
[code]

nydus version : v2.1.0-alpha.5
nydus snapshotter version : v0.3.0-alpha.5
containerd github.com/containerd/containerd v1.6.6 10c12954828e7c7c9b6e0ea9b0c02b01407d3ae1

[2022-08-15 03:27] imeoer commented on #676
@Zhuchengyu04 Could you share the nydud config.json file?

[2022-08-15 05:29] Zhuchengyu04 commented on #676
###nydusd-config.json
[code]

[2022-08-15 05:30] Zhuchengyu04 commented on #676
### nydusd-config.json

[code]

[2022-08-15 06:08] imeoer commented on #676
[code]

Looks like some problem was encountered when requesting this `http://localhost:5000/v2/ubuntu-nydus/blobs/sha256:af6d37f391f92eff5d182127d8507fa15e05ba1f600975f84cab325dc8c428c3`.

What happens when try to `curl http://localhost:5000/v2/ubuntu-nydus/blobs/sha256:af6d37f391f92eff5d182127d8507fa15e05ba1f600975f84cab325dc8c428c3` directly?

[2022-08-15 06:14] Zhuchengyu04 commented on #676
[code]

[2022-08-15 06:25] imeoer commented on #676
@Zhuchengyu04 Please check why the request to `http://localhost:5000` is redirected to `http://7rx80271.ibosscloud.com`.

[2022-08-16 05:32] changweige commented on #667
[yixiaojie0x](https://github.com/yixiaojie0x) is helping with this issue.

[2022-08-16 05:33] changweige commented on #672
Can you list potential tasks to achieve the goal you mentioned? So we can carry on.

[2022-08-16 05:44] changweige commented on #668
I suppose it's a user's decision how to transport and persist nydusd logs. Stdout/stderr  and regurlar log files are not conflicted with each other. Moreover, nydusd already provides a CLI option to configure it, we can't just remove the option `--log-file`.  In practice, AFAIK, many user choose to store logs into regular files.

[2022-08-16 06:06] imeoer commented on #668
In scenarios where nydusd is used separately, it can use its own log file, but when integrated into snapshotter, we should let use the snapshotter logger directly.

[2022-08-16 06:11] imeoer commented on #672
@changweige Updated, just one thing.

[2022-08-16 07:30] Zhuchengyu04 commented on #676
Sorry, I have no idea about it.

[2022-08-16 07:33] hsiangkao commented on #676
I think you could use 127.0.0.1?

[2022-08-16 07:41] Zhuchengyu04 commented on #676
I find the address is intercepted by my proxy.
[code]

[2022-08-16 07:50] Zhuchengyu04 commented on #676
Sorry, I tried but it's not working. and now there has a new problem.
[code]

[2022-08-17 08:54] changweige commented on #638
There is an excellent chance that this issue relates to https://github.com/containerd/nydus-snapshotter/pull/132. Could you please help reproduce the problem with the latest nydus-snapshotter mainline code?

[2022-08-18 02:20] changweige opened #684 "Rafs v6 chunked prefetch based on read pattern"
Rafs V6 has a prefetch table filled with files' nids. Those files are supposed to be prefetched in the order they are loaded while nydus-image is walking the whole source filesystem. When a file has many chunks while only a few of them are actually read when starting the container, downloading all the chunks is not necessary.
So better we can improve nydus-image prefetch user interface, and make i

[2022-08-18 02:49] changweige commented on #676
Is there any clue in nydusd.log.

[2022-08-18 03:03] jiangliu commented on #684
We may need an overall design for nydus:)
1) how to prefetch data for v5? I think it would acceptible to keep it as is.
2) how to prefetch files for v6?
3) how to prefetch blob data chunks for v6?
4) what's the relationship between file prefetch and blob data chunk prefetch for v6?
5) how to generate file/blob chunk prefetch list for v6?
6) how to store those prefetch list?

[2022-08-18 14:09] #667 closed

[2022-08-18 14:45] hsiangkao opened #686 "Lazy pulling of OCI image for Nydus"
For more details, see new project soci-snapshotter from AWS
https://github.com/awslabs/soci-snapshotter

Actually such trick above is a bit tricky (such each seekable point needs 32KiB sliding window data), but I'm not sure if most users would like to reuse ociv1 blobs and append some indexes, so...

[2022-08-22 01:45] Zhuchengyu04 commented on #676
Issue resolved.  It's my proxy problem. Thanks all for help

[2022-08-22 01:45] #676 closed

[2022-08-22 02:12] changweige commented on #684
I am personally thinking maintaining two filesystem formats at the same time and forever is a big burden. So I am suggesting that new essential features like this only goes into RafsV6.

Prefetching files can do exactly the same by `prefetch-all` when importing Rafs

With fscache enabled, I don't figure out a way to trigger fs prefetch. I think the prefetch table is associated with bootstrap which

[2022-08-22 07:53] yrcs opened #691 "The container does not start itself with the host boot-up"
[code]
`reboot` the host machine. Then enter the following command:
[code]
So, why did it report: "**FATA[0000] file does not exist: unknown**" ?
The **nydus-snapshotter.service** is as follows:
[code]

[2022-08-23 01:27] changweige opened #693 "Nydus-test found an error during executing fscache mode test"
The test image is exactly the same with fuse mode nydusd while fuse mode can pass the case

kernel info:
[code]

[code]

[2022-08-23 02:11] changweige commented on #691
My working VM can't be restarted. Can you please share the nydusd.log and nydus-snapshotter.log ?

[2022-08-23 02:44] yrcs commented on #691
There is no "**nydusd.log**" as you mentioned on my machine. Only the **nydus-snapshotter.log** is as follows:
[code]
And there is also with an occasional problem occurs when running the container for the first time, but when run again the problem disappears.
[code]

[2022-08-23 09:58] changweige commented on #691
Yes. I can reproduce this problem.  I am going to delve into this issue. Hopefully, I can fix it in the soon future. Thanks for reporting. I will duplicate this ISSUE into nydus-snapshotter's repo since it is its flaw.

[2022-08-24 01:40] changweige opened #694 "nydusctl paniced when query nydusd as daemon status"
`nydusctl ` is sending v1 API to get daemon status. V1 API has a different daemon status definition with V2. So it can't pasre and deserialize the response.

[code]

[2022-08-25 06:16] changweige commented on #691
This PR should fix the problem you reported https://github.com/containerd/nydus-snapshotter/pull/145

[2022-08-26 08:46] yrcs commented on #691
I don't think so. The root cause is a programming design problem (no one wants to manually start a new **nydusd** on every boot-up to solve this problem). So, this bug remains unresolved.

[2022-08-26 09:54] changweige commented on #691
True. I have to admit that nydus-snapshotter is not user-friendly enough. We are working on improving its usability including
easy installation setup, snapshotter's configuration file and robust `nydusd` daemon status management. Hope it will be much easier to be deployed in the production environment.

[2022-08-29 06:59] #624 closed

[2022-08-29 07:13] changweige commented on #668
Close it as it is implemented and merged

[2022-08-29 07:13] #668 closed

[2022-08-29 09:07] #694 closed

[2022-08-30 03:49] changweige commented on #693
The issue is closed so fast 🥶. The PR still needs more discussion

[2022-08-30 06:52] changweige opened #704 "Nydusd should clean up the API unix socket file in a normal shutdown"
We'd better not leave a unused and residual unix socket file in local file system

[2022-08-30 07:09] bergwolf opened #705 "nydus-image inspect panic"
22       ""
    23       ""
[2022-08-30 15:04:21.043566 +08:00] ERROR [/home/graymalkin/.cargo/registry/src/mirrors.ustc.edu.cn-61ef6e0cd06fb9b8/log-panics-2.1.0/src/lib.rs:130] thread 'main' panicked at 'called `Result::unwrap()` on an `Err` value: ExecError
(File "" is not a child of CWD)': src/bin/nydus-image/main.rs:788
   0: <backtrace::capture::Backtrace as core::default::Default>::default

[2022-08-30 07:09] bergwolf commented on #705
Still panics after applying https://github.com/cloud-hypervisor/fuse-backend-rs/pull/90

[2022-09-01 11:26] #704 closed

[2022-09-02 08:21] sctb512 commented on #658
It may not matter with `MAX_CONNECTIONS`, after I change it to 1000, I still get `Resource temporarily unavailable (os error 11)` error.

[2022-09-02 08:26] imeoer commented on #658
@sctb512 Are you using the go or python HTTP client? May be we can use `netstat` to inspect the TCP connections of the client side first.

[2022-09-02 08:34] sctb512 commented on #658
OK, i will try it.

[2022-09-02 09:53] changweige commented on #658
I delve into the uHttp code a bit. It does not return an error. I think the root cause is Unix socket listener file is set to nonblocking.  The solver could be making the client retry until it is connected or replace `mio`

[2022-09-05 07:33] #693 closed

[2022-09-07 09:06] kevinXYin opened #714 "fscache e2e startup performance"
The fscache & cachefiles framework use dio for local cache files filling and reading. In my environment , I found this may affects the e2e startup performance.

I have tried to change to use buffer IO , and I can see a performance boost. But I think we need a more formal scheme so we can go upstream.

Here is my test resault：
`{
  "type": "bootstrap",
  "config": {
    "backend_type": "registry",

[2022-09-07 09:26] jiangliu commented on #658
The rust UnixListener has configured the listener queue depth as 128
![截屏2022-09-07 下午5 23 00](https://user-images.githubusercontent.com/1931516/188842537-709a5735-09c1-4b21-b374-d079cddc5ed2.png)

The go unix dialer uses non-blocking to connect to server, which will cause EAGAIN when the listener queue is full in the linux kernel. So we have no chance to change the kernel behavior, and it's not e

[2022-09-08 02:44] changweige opened #716 "Nydusd accesses Dragonfly in a mirror registry fashion"
At present, nydusd can only access dragonfly as an HTTP proxy. It has some cons:
1. For HTTPS registry, must provide a copy of CA and private key to dragonfly dfdaemon.
2. Hardly support multiple mirrors
3. An extra HTTP connect is needed (a more round trip)

My proposal is to support accessing dragonfly as a pull-through cache.
To achieve it:
1. add more items to nydusd configuration file:
2. sup

[2022-09-14 16:42] YushuoEdge commented on #705
Seems like the entry point for this bootstrap is not root directory:
[code]

[2022-09-15 02:51] imeoer commented on #705
Seems `tests/texture/bootstrap/nydusd_daemon_test_bootstrap` is a broken bootstrap file, maybe try `tests/texture/bootstrap/image_v2.boot`.

[2022-09-15 07:13] bergwolf commented on #705
It is used at https://github.com/dragonflyoss/image-service/blob/master/src/bin/nydusd/fs_service.rs#L305, which ends up calling `rafs.import`. Why do you think it is a broken bootstrap file?

[2022-09-15 07:37] imeoer commented on #705
`rafs.import` just only load superblock section, if we check this bootstrap with `nydus-image check --bootstrap tests/texture/bootstrap/nydusd_daemon_test_bootstrap -V`, will fail with a invalid inode digest error:

[code]

And indeed it's not a directory type inode.

[2022-09-15 10:44] bergwolf commented on #705
Ok, fair enough. @xujihui1985 do you recall how the test bootstrap file (`tests/texture/bootstrap/nydusd_daemon_test_bootstrap`) was created? It was added by your commit 3e091ef52f3f1be479b2c9e4fbc3a3d962dfa16d

[2022-09-16 04:47] imeoer commented on #716
As per the offline discussion with @changweige, nydus can integrate dragonfly in two ways, proxy mode and mirror mode.

1. proxy mode integration documentation: https://d7y.io/zh/docs/setup/runtime/containerd/proxy/

For example, for https image registry, we need to configure the https decryption certificate for d7y so that it can cache the blob data, but there is a workaround without configuring

[2022-09-16 06:10] imeoer opened #723 "Support fallback to HTTP scheme for https registry when using proxy"
See the point 2 at: https://github.com/dragonflyoss/image-service/issues/716#issuecomment-1248915349

[2022-09-16 06:23] imeoer opened #724 "Support registry mirror configuration for registry backend"
See the point 3 at https://github.com/dragonflyoss/image-service/issues/716#issuecomment-1248915349

[2022-09-16 09:20] zvier commented on #151
For my case, just remove `$containerd_home/io.containerd.snapshotter.v1.nydus` not work until I remove `$containerd_home`. But this method can only used on test host. For production environment, mabe need a self recovery strategy.

[2022-09-16 09:32] changweige commented on #151
Can I know what version or commit of nydus-snapshotter you are working on?

[2022-09-16 10:05] zvier opened #727 "create container failed for a Ready sandbox"
Create container failed for a Ready sandbox when use nydus. The error message is:

[code]
And the containerd-nydus-grpc log print
[code]
The related yaml file is:

## nydus-sandbox.yaml
[code]

## nydus-container.yaml
[code]

[code]

The nydus version infomation is:
`nydus-static-v2.1.0-rc.2-linux-arm64.tgz`

`containerd-nydus-grpc` is build myself.

[2022-09-16 10:10] changweige commented on #727
What commit version of `containerd-nydus-grpc` did you build on?

[2022-09-16 10:16] jiangliu commented on #727
Could you please help to share the output of:
/usr/bin/nydusd -h
/usr/bin/nydusd --version

[2022-09-16 12:17] zvier commented on #727
The latest commit `0f88fb6a4f190c01bab42aba2bd47aca784546c2`

[2022-09-16 12:19] zvier commented on #727
/usr/bin/nydusd -h
[code]
/usr/bin/nydusd --version
[code]

[2022-09-16 12:43] zvier commented on #727
Sorry，My new nydusd binary is not update to right position.

[2022-09-16 12:56] zvier commented on #727
When the `nydusd` and `containerd-nydus-grpc` version matched, the new problem for create container is failed with message
[code]
And containerd-nydus-grpc print a lot of error as follows:
[code]

[2022-09-16 15:29] jiangliu commented on #727
Could you please help to change the communication protocol from "http" to "https"? Maybe your registry only accept https connections.

[2022-09-17 08:49] zvier commented on #727
Now, my `/etc/nydusd-config.json` is updated to
[code]
After restart `containerd` and `containerd-nydus-grpc`, the same problem still exist.

[2022-09-19 14:47] changweige commented on #716
@zyfjeff Is there any progress on this feature, I think it is instrumental when integrating with Dragonlfy.

[2022-09-20 09:11] jiangliu commented on #705
Seems it's caused by invalid "nydusd_daemon_test_bootstrap".

[2022-09-20 12:16] zyfjeff commented on #716
Sorry, I haven't implemented it yet, currently, nydus communicates with dragonfly via https, and it just works.

[2022-09-20 12:17] changweige commented on #716
Thanks for feedback ~

[2022-09-21 02:02] imeoer commented on #727
@zvier Some configuration is saved to disk once pulled the image, so please try to clean up the nydus snapshot directory first.

[2022-09-21 04:01] zvier commented on #727
Thanks, the test case passed after the nydus snapshot  clean up.

[2022-09-21 07:18] changweige commented on #716
@imeoer

I guess you are suggesting use the original HTTP scheme to access the original registry rather than only https?
Registry host can also be configured as HTTP

[2022-09-21 08:20] imeoer commented on #716
Refer to https://github.com/containerd/nydus-snapshotter/pull/178

[2022-09-22 02:17] zhangshuiyong opened #741 "[feature][Nydus Lib?]Can I Use Nydusd in Docker Container With No Admin Privileges?"
**Scenario Or Environment**
1. I am working on an AI SaaS Platform.
2. Only as a normal user  with no admin privileges in docker container for platform safety.
3. I want to use nydusd for loading file object stored in the public oss service.

**Problem that needs help:**
1. I try to place nydusd program in docker image, and run it for using fuse to load remote file with no admin privileges. But /d

[2022-09-23 12:52] #727 closed

[2022-09-26 06:54] jiangliu commented on #299
done

[2022-09-26 06:54] #299 closed

[2022-09-26 07:16] zvier opened #751 "nydusify convert failed when push layer to registry"
Something wrong when I use `nydusify convert` generate a nydus image from an OCI image.

First,  I use the nydusify convert  simply like this:
[code]
The error message is:
Failed to convert: Parse source image: Parse source image: resolve image: failed to do request: Head "https://registry.xxx.com/v2/docker-test/systemd/manifests/oci": x509: certificate signed by unknown authority

After read the

[2022-09-26 07:25] imeoer commented on #751
Please retry with `nydusify convert --source registry.xxx.com/docker-test/systemd:oci --target registry.xxx.com/docker-test/systemd:nydus --source-insecure --target-insecure` (no `true` flag value.)

[2022-09-26 07:28] zvier commented on #751
This worked well.

[2022-09-26 07:28] imeoer commented on #751
It's a good issue, we'd better remind the user that `true` should not be added to the boolean flag.

[2022-09-26 08:12] changweige commented on #691
This should be fixed by recent nydus-snapshotter improvements. Can we close it?

[2022-09-26 08:19] yrcs commented on #691
OK! Just close it.

[2022-09-26 08:20] #691 closed

[2022-09-26 09:09] zvier opened #755 "nydus POD cannot start success when certificate not configured well"
My nydus POD yaml file is:
[code]
After apply about yaml file, the related image `registry.xxx.com/docker-test/systemd:nydus-npd-with-tools` can pull success. But the pod start failed with message: `failed to create containerd container: mount callback failed on xxx`.

The `containerd-nydus-grpc` print is:
[code]

Maybe the certificate need to be configure correctly.

[2022-09-26 10:34] changweige commented on #724
@imeoer Looks this can be closed now since the feature has been merged.

[2022-09-26 10:35] changweige commented on #638
Recent nydus-snapshotter improvements should fix this issue, can we close it now?

[2022-09-27 01:51] imeoer commented on #724
@changweige Waiting nydus-snapshotter to support it.

[2022-09-27 01:54] changweige commented on #724
nydus-snapshotter has already supported configured registry mirror by filling `mirrors:{}` in nydusd's config file

[2022-09-27 01:55] imeoer commented on #755
Thanks for the report, please use the `skip_verify` option described in [here](https://github.com/dragonflyoss/image-service/blob/master/docs/nydusd.md#registry-backend). We should improve the doc to beginner friendly. :)

[2022-09-27 02:37] imeoer commented on #724
Ok, let's track the progress of snapshotter in https://github.com/containerd/nydus-snapshotter/issues/51

[2022-09-27 02:37] #724 closed

[2022-09-27 04:55] changweige opened #760 "nydus-image inspect panics"
It panics when perform `prefetch` command

[code]

[2022-09-28 03:27] imeoer commented on #760
@YushuoEdge PTAL if have any chance :)

[2022-09-29 09:06] changweige opened #765 "Discuss about how to check mirror registry health"
Nydus has merged two features about deeply integrating nydusd with Dragonfly
- use Dragonfly as a pull-through cache a.k.a mirror registry
- work with Dragonfly as HTTP proxy useHTTPS accessing HTTPS registry with the capability to fallback to the original HTTPS registry.

For Dragonfly mirror mode, nydusd will continue to pull blob data from the next mirror if the current mirror fails, but there

[2022-09-30 00:22] #755 closed

[2022-09-30 05:31] changweige opened #768 "nydus-image inspect icheck panics (rafs v6)"
For rafs v6, disk inode does not point to its parent dir. So `icheck` is hard to implement and panic right now. We can fix this by using the lookup method.

[2022-09-30 06:01] changweige commented on #760
The root cause is that the regular file inode does not point to its parent dir. To fix this, must have a way similar to lookup

[2022-09-30 06:10] #760 closed

[2022-09-30 07:24] jiangliu commented on #751
Add a value to `--target-insecure` and set its default to true?

[2022-09-30 07:25] changweige commented on #716
Let's close this issue since related PR has been merged into mainline

[2022-09-30 07:25] #716 closed

[2022-09-30 07:26] changweige commented on #723
Let's close it since the feature has already been merged into mainline

[2022-09-30 07:26] #723 closed

[2022-09-30 07:27] changweige commented on #638
Let's close it since nydus-snapshotter should already fix it.

[2022-09-30 07:27] #638 closed

[2022-09-30 15:03] jiangliu commented on #768
Fixed by https://github.com/dragonflyoss/image-service/pull/767？

[2022-10-05 14:31] jiangliu opened #776 "Switch default compression algorithm from lz4_block to zstd"
`zstd` is a better tradeoff between performance and compression ratio.
root@150e69c781a9:/nydus# target/debug/nydus-image create -c lz4_block --blob tmp/data.bin --bootstrap tmp/meta.bin src
root@150e69c781a9:/nydus# ls -l tmp/
total 224
-rw-r--r-- 1 root root 208612 Oct  5 14:29 data.bin
-rw-r--r-- 1 root root  17704 Oct  5 14:29 meta.bin
root@150e69c781a9:/nydus# target/debug/nydus-image create

[2022-10-05 14:34] jiangliu opened #777 "Switch default digest algorithm from blake3 to sha256"
Though blake3 has better performance than sha256, but sha256 is commonly used digest algorithm. So prefer sha256 for compatiblity.

[2022-10-14 01:17] ccx1024cc commented on #608
@zhangshuiyong Nydus use specified prefix directly, instead of with `/` suffix. Files are not in `root` with empty prefix now. If u want, specify prefix = `/`.

[2022-10-14 08:50] changweige commented on #765
This might be the correct way

without credentials. The response should include a `WWW-Authenticate`
challenge, providing guidance on how to authenticate, such as with basic auth
or a token service. If the load balancer has health checks, it is recommended
to configure it to consider a 401 response as healthy and any others as down.
This will secure your registry by ensuring that configuration pro

[2022-10-14 09:28] imeoer commented on #765
Should also ensure that all registry providers (harbor, ghcr, docker hub, acr...) have implemented the same behavior.

[2022-10-14 09:32] changweige commented on #765
It comes from OCI distribution spec, and looks very reliable.https://github.com/distribution/distribution/blob/main/docs/deploying.md#importantrequired-http-headers

[2022-10-18 14:54] #768 closed

[2022-10-18 14:54] #705 closed

[2022-10-19 07:16] kevinXYin opened #803 "fscache support cache gc"
For now , Fscache mode does not support cache gc. That is when we delete an image the local cache files will not be deleted.

[2022-10-19 07:21] imeoer commented on #803
A related implementation [here](https://github.com/dragonflyoss/image-service/pull/518)

[2022-10-20 08:40] sctb512 opened #807 "proposal: nydus cloud considers a more efficient prefetch policy"
At present, nydus cloud prefetch files with `--prefetch-files`, which will reduce the container setup time. But, some prefetched datas are not used forever. There are some enhancement features we should focus on, such as generating workload-related prefetch lists and prefetch data by chunk. These features will make the prefetch process more accurate.

We have surveyed two related works: [Startgz-s

[2022-10-20 08:47] changweige commented on #631
Solved by  #759
Let's close it

[2022-10-20 08:53] imeoer commented on #631
Why it's related with https://github.com/dragonflyoss/image-service/pull/759?

[2022-10-20 08:55] changweige commented on #631
Oops, something wrong with my eyes when scanning the issues, should reopen it

[2022-10-21 17:15] Champ-Goblem opened #810 "Nydus support for bypassing guest cache with DAX"
# Nydus support for bypassing guest cache with DAX

tldr: We would like to get nydus with DAX working to bypass the guest page cache and therefore deduplicate the memory that is being used by a machine, overall allowing us to spawn more workloads and use memory more efficiently.

I have been debugging an issue over the last week which has been plaguing our nodes for a few months. Workloads run wit

[2022-10-22 02:17] bergwolf commented on #810
@Champ-Goblem Thanks for raising it! There are two host access modes provided by `nydusd` to Kata: rafs and passthroughfs. `rafs` is a container image acceleration file system while `passthroughfs` is an equivalance to `virtiofsd`. May I ask which part you want to enable DAX with? The `passthroughfs` should be easy to enable DAX support, while `rafs` needs more changes but it's do-able as well.

[2022-10-22 02:53] hsiangkao commented on #810
Actually, we (Alibaba Cloud) have a new pending academic paper to evaluate virtiofs dax vs Nydus blob passthough(blobfs) + erofs dax.  The performance number shown that the workload with 50000 small files, raw virtiofs dax (30 sec) is much much slower than Nydus blob passthough + erofs dax (6s). Also Nydus blob pass though + erofs dax is already in production at Alibaba Cloud and it has great perf

[2022-10-22 23:41] Champ-Goblem commented on #810
Thanks for the above answers!

@bergwolf Looks like we are currently using `PassthroughFs` as seen when checking the daemon info of a running nydusd instance:

[code]

@hsiangkao these options sound interesting, I was wondering if the `Nydus blob pass though + erofs dax` has a limit on the container image type? Are the performance enhancements this would bring limited to rafs formatted images, or

[2022-10-24 02:29] hsiangkao commented on #810
Well, OCI images (targz) also need to be extracted to some localfs (like ext4), likewise, we could also make a light conversion to erofs type for guest or runC to use, that is what we're doing.

[2022-10-24 02:59] bergwolf commented on #810
@Champ-Goblem If image conversion is a non-starter, the passthrough mode is the way to go. For DAX support with the passthrough mode, we have it working with the builtin virtiofs with dragonball. So in theroy it is just about enabling the same feature with nydusd where the vhost-user protocol is the only addition. I would suggest that we test it with QEMU first to make sure that there aren't virti

[2022-10-24 15:50] Champ-Goblem commented on #810
@hsiangkao converting OCI spec images to work with EROFS sounds interesting. Regarding the comment `that is what we're doing` in your previous answer, do you mean nydus already has this capability?

@bergwolf I think passthroughFS would be a good starting point for now as this would also support persistent volumes as well without having to alter lots in Kata and would also work with regular OCI im

[2022-10-25 02:42] hsiangkao commented on #810
I haven't followed Nydus userspace code anymore for months, hopefully @zyfjeff @liubogithub @jiangliu could give more hints about this.

[2022-10-25 06:36] bergwolf commented on #810
@Champ-Goblem

The only addition is the vhost-user-fs protocol. I would suggest upgrading the vhost crate in nydus first to include the vhost-user-backend there (instead of the old stand-alone one) to have the latest working code and see what we can get there.

Any chance you can share the fio commands and/or the container images? It makes sense to create an issue in kata-containers repo to track

[2022-10-25 06:57] studychao commented on #810
Hi @Champ-Goblem please help to share some simple instructions to recreate the test so that we could follow up with the issue

[2022-10-26 02:36] imeoer opened #814 "nydus performance tracing"
We need a mechanism to collect the time and resource consumption of nydus at each stage of build time and run time to give us insight into the performance impact of development iterations, identify performance bottlenecks, etc. The main requirements are as follows.

- The ability to count the time consumed by nydus-image/nydusd at each stage in span format.
- Statistics on memory usage, CPU, and n

[2022-10-27 06:29] changweige commented on #585
I tested the recent master code nydusify. The problem is gone. Closing it

[2022-10-27 06:29] #585 closed

[2022-10-27 06:36] sctb512 opened #817 "nydus-image: incorrect prefetch table size for rafs v6 when file does not exist"
At present, the prefetch table size is set as the files list length.
When the files list contains file that does not exist, the prefetch table size is incorrect and includes invalid value `0`.

![image](https://user-images.githubusercontent.com/20137756/198208954-c07121c2-d25b-4b64-8f32-94ba350063aa.png)

[2022-10-27 09:56] Champ-Goblem commented on #810
I’ve been doing some more digging into DAX and nydus over the last day and I have a couple of questions regarding a potential problem I found that I hope you might be able to share some insight on.

So currently the status with DAX + Qemu is that the vhost crate doesnt have support for the newer `VhostUserFSSlaveMsg` schema, so I decided to continue with looking at CLH and DAX as CLH should be usi

[2022-10-28 07:00] imeoer opened #821 "refresh registry token automatically for mirror mode"
- Since dragonfly is slow to forward 401 responses, nydusd registry backend should automatically apply the new auth token in a background thread to minimize the number of 401 responses due to token expiration.
- Maybe we can obtain the token expiration time as a reference for the next time to refresh the token, if can't, use 10 min as the default.
- Share the backend thread with the mirror health

[2022-10-28 07:27] imeoer commented on #821
cc @sctb512

[2022-10-28 07:28] sctb512 commented on #817
Already fixed this issue, close it.

[2022-10-28 07:29] #817 closed

[2022-10-28 10:04] sctb512 commented on #821
It is a good idea to refresh the auth token and avoid forward 401 response to dragonfly. I will add it to the mirror health checking thread soon.

[2022-10-31 07:18] sctb512 commented on #821
Currently, I have not added it to the mirror health checking thread.
Reason: `refresh registry token` is only available for registry, `connection.rs` is used for OSS backend as well.

Please take a look.

[2022-11-03 09:36] imeoer opened #831 "support s3 storage backend"
Currently nydus only supports Aliyun OSS, we need to support more object storage backends, for example AWS S3, the following components need to be supported:

- [x] nydusify
- [ ] acceld
- [x] nydusd

[2022-11-03 15:21] jiangliu opened #832 "The test data at tests/texture/repeatable is invalid"
With v2.1 branch:
target/debug/nydusd fuse -M mnt/ -C nydusd-config1.json -B images/blake3-lz4_block-non_repeatable  &
root@0fba9939116d:/nydus# grep "test" mnt/ -r
[2022-11-03 15:16:49.463085 +00:00] ERROR [error/src/error.rs:21] Error:
	"decompression failed"
	at utils/src/compress/lz4_standard.rs:56
	note: enable `RUST_BACKTRACE=1` env to display a backtrace
[2022-11-03 15:16:49.463168 +00:00]

[2022-11-03 15:39] jiangliu commented on #604
https://github.com/dragonflyoss/image-service/pull/833

[2022-11-03 15:39] #604 closed

[2022-11-04 02:20] imeoer commented on #821
Fixed in https://github.com/dragonflyoss/image-service/pull/800

[2022-11-04 02:20] #821 closed

[2022-11-05 05:18] loheagn commented on #831
Hi, @imeoer, I want to take this issue. Can you assign it to me?

[2022-11-06 11:15] imeoer commented on #831
@loheagn Cool, let's move forward!

[2022-11-07 02:45] yawqi commented on #814
Is there anyone working on this? Maybe I can help with it. @imeoer

[2022-11-07 03:37] wraymo commented on #814
Hi Qi, I'm working on it. But we can collaborate. @yawqi

[2022-11-07 03:38] wraymo commented on #814
Hi Qi, I'm working on it. But we can collaborate.

[2022-11-07 03:41] imeoer commented on #814
@yawqi @wraymo Thanks! We can split it into the two sub-tasks, "trace collection" and "cpu/memory/network requests statistics", Which one you prefer?

[2022-11-07 03:48] wraymo commented on #814
I'd prefer "trace collection"

[2022-11-07 03:51] yawqi commented on #814
OK, I will look into the "cpu/memory/network requests statistics".

[2022-11-07 03:56] imeoer opened #843 "nydusd: automatically retry registry http scheme"
We'd better use `"scheme": "https"` field as default in the nydusd configuration if users do not fill a preferred value, and still can fallback to `"scheme": "http"` by pre-checking the registry server.

Related discussion: https://github.com/containerd/nydus-snapshotter/issues/235

[2022-11-07 04:01] imeoer commented on #814
@wraymo @yawqi Thanks! Any specific design doc can be committed here first and discussed together.

[2022-11-07 05:42] #599 closed

[2022-11-07 05:49] liubogithub commented on #440
@yawqi would offer some help on profiling converting images with nydus-image by flamegraph, many thanks!

@jiangliu what do you think?

[2022-11-07 09:31] jiangliu commented on #670
The default compression algorithm has been switched to zstd, could you please try again?

[2022-11-07 09:31] #777 closed

[2022-11-07 09:32] #776 closed

[2022-11-07 13:25] sctb512 opened #846 "Bug: get errors when converting nydus image"
Error 1:
![1cd46a5d-e397-46d7-9290-281d654cb141](https://user-images.githubusercontent.com/20137756/200319328-69d2e4fd-a0a9-4d6d-a110-61da5a045b4b.jpeg)
Command:
[code]
version:
[code]

This error occurred by accident. When i run the same command again, it converts the OCI image to nydus image successfully.

Error 2:
![79c4f0be-b1aa-4296-9662-d32924a5e23a](https://user-images.githubusercontent.com

[2022-11-07 17:22] #670 closed

[2022-11-08 10:00] imeoer commented on #846
@sctb512 Is this OCI image can convert by acceld?

[2022-11-09 03:30] changweige opened #851 "Pseudo FS directories as image FS root inode has the same inode number"
Using nydus-snapshotter shared daemon mode with fuse-backend-rs 0.9.6.

[code]

[2022-11-09 03:45] jiangliu commented on #851
Are 23 and 32 hardlinks?

[2022-11-09 03:48] changweige commented on #851
No. They are both mounted by nydusd HTTP API. Each of them represents a Rafs instance and container image.
I found a stale file handle error reported by my kernel which means different entries has the same inode number making the kernel puzzled.

[2022-11-09 08:30] yawqi commented on #440
![test](https://user-images.githubusercontent.com/26815046/200776738-63e31e54-346c-49ae-9d14-99cb0391ebc0.svg)
This is a simple flamegraph I generate with (flamegraph-rs)[https://github.com/flamegraph-rs/flamegraph] and following commands, other use cases need to be further tested.
[code]

[2022-11-09 19:59] liubogithub commented on #440
As per the discussion offline, nydus-image spends most time on sha256 compression, which is good and matches with our expectation.

Many thanks for the efforts, @yawqi.
Can you please also do another flamegraph run with a relatively huge parent bootstrap to see the typical bootstrap-loading cost?

[2022-11-10 08:10] yawqi commented on #440
![parent](https://user-images.githubusercontent.com/26815046/201035464-d963bfb3-8ca5-408e-97a2-0281bb77f00c.svg)
![son](https://user-images.githubusercontent.com/26815046/201035476-5579b47e-73d1-4e23-8a54-1385767ce048.svg)
[code]
I am not sure whether I am doing it the right way. The first flamegraph is building the parent bootstrap, and the second flamegraph is building a bootstrap whose parent i

[2022-11-10 19:38] liubogithub commented on #810
@Champ-Goblem By looking at the  https://github.com/dragonflyoss/image-service/blob/v2.1.0-rc.3.1/src/bin/nydusd/virtiofs.rs#L78, I think the workload such as git clone is using mmap and dio, which causes the above panic.

[code]

With dax enabled, the above `addr` refers to some address of virtiofs dax range, not a guest memory address.
For now nydus, as a vhost-user-fs backend, only shares the g

[2022-11-11 02:24] imeoer commented on #440
It seems we can disable bootstrap/digest validation first, and then improve the speed of `tree.apply`.

[2022-11-11 02:59] yawqi commented on #440
I conduct the same operations with master release build. To be noticed, the master use zstd and sha256 as default, while the v2.1.1 use lz4 and blake3 as default.
[code]
Here is the following results, the upper one is parent, the lower one is child:
![parent-master](https://user-images.githubusercontent.com/26815046/201252462-0036678c-3721-488f-97e6-150c69754780.svg)
![child-master](https://user-i

[2022-11-11 05:19] yawqi commented on #440
<img width="894" alt="截屏2022-11-11 13 17 24" src="https://user-images.githubusercontent.com/26815046/201268736-f4094408-1e20-48aa-8498-5e3402a28026.png">
<img width="893" alt="截屏2022-11-11 13 17 10" src="https://user-images.githubusercontent.com/26815046/201268749-96e877ba-5686-4df8-83bf-0a052f9c0e70.png">
The time consumed by lz4+blake3 is much faster than zstd+sha256 when creating my nydus image

[2022-11-11 05:27] yawqi commented on #440
<img width="892" alt="截屏2022-11-11 13 26 58" src="https://user-images.githubusercontent.com/26815046/201269829-d54e76fb-7f6b-43ba-82a3-e211a3e8925b.png">
<img width="890" alt="截屏2022-11-11 13 26 53" src="https://user-images.githubusercontent.com/26815046/201269839-64ec6434-a286-46ef-9e03-1f6a60802b9b.png">
The time consumed by lz4+blake3 is much faster than zstd+sha256 when creating my nydus image

[2022-11-11 06:15] imeoer commented on #440
@yawqi Thanks for the test, how about `zstd+blake3`?

[2022-11-11 07:48] imeoer commented on #440
The summary for your test @yawqi:

|  compressor   | digester  | build time | blob size |
|  ----  | ----  | ----  | ----  |
| zstd  | sha256 | 3m40.511s | 1.08MB |
| zstd  | blake3 | 1m59.593s | 1.08MB |
| lz4  | sha256 | 1m37.090s | 1.63MB |
| lz4  | blake3 | 1m1.971s | 1.63MB |

[2022-11-12 09:47] jiangliu commented on #565
With the latest master branch, there's no big difference between v5 and v6 build time:
![截屏2022-11-12 17 47 19](https://user-images.githubusercontent.com/1931516/201468563-5e25f67f-8d31-4a46-97ee-25328c2e39f2.png)

[2022-11-12 09:47] #565 closed

[2022-11-12 10:03] changweige commented on #765
The checker code has been merged.

[2022-11-12 10:03] #765 closed

[2022-11-12 10:04] changweige commented on #658
will be solved by https://github.com/openanolis/dbs-uhttp/pull/18

[2022-11-12 10:08] changweige commented on #268
@imeoer  Shall we close this now since the label has been dropped from nydus image and related PR has been merged

[2022-11-12 10:09] changweige commented on #475
@imeoer Should close this since nertctl has merged nydus support?

[2022-11-14 01:56] #832 closed

[2022-11-14 02:01] #475 closed

[2022-11-14 02:03] imeoer commented on #268
@changweige Ok, thanks for solving the issue.

[2022-11-14 02:03] #268 closed

[2022-11-14 03:45] #296 closed

[2022-11-14 06:55] CSUDaXiang commented on #831
hello,Have you made any progress on this issue recently?

[2022-11-14 10:37] Champ-Goblem commented on #810
@liubogithub Thank you for the detailed message!
Last week I spent some time POCing VHOST_USER_SLAVE_FS_IO in the fuse-backend-rs/vhost crates and managed to get this somewhat working.

I would be interested to know if you had any ideas on how to debug the following problem. Since implementing the changes, I found that Cloud Hypervisor when mapping a file into the DAX region would sometimes pass a

[2022-11-17 09:18] imeoer opened #867 "nydusify & nydusd: give a briefer suggestion for insecure cert"
Perhaps give a suggestion when the user encounters the error `x509: certificate signed by unknown authority`:

- `try to enable "skip_verify: true" option` for nydusd;
- `try to enable "--source-insecure" / "--target-insecure" option` for nydusify convert/check;

[2022-11-17 09:21] imeoer opened #868 "docs: build independent document website"
- Website: https://nydus.dev/docs/
- Reference style: https://d7y.io/docs/
- Goal: Reorganize existing documentation https://github.com/dragonflyoss/image-service/tree/master/docs to https://github.com/dragonflyoss/image-service-website/tree/main/docs
- Structure: As shown below

![image](https://user-images.githubusercontent.com/1524576/202406505-62dd9ff1-40b2-43b2-b1d0-97829a0bdd59.png)

[2022-11-17 13:24] jiangliu commented on #851
root@2f2705ddaffe:/nydus# target/debug/nydusd fuse -M mnt -D tests/texture/repeatable/blobs/ -B tests/texture/repeatable/sha256-nocompress-repeatable -m /a/b --log-level trace &
[3] 1747
root@2f2705ddaffe:/nydus# [2022-11-17 13:21:58.634371 +00:00] INFO Program Version: v2.1.0-rc.3.1-290-g5be153feb, Git Commit: "5be153feb0c08571e88934e9020c208d85aefeb0", Build Time: "2022-11-12T05:05:15.511268968Z

[2022-11-17 13:25] jiangliu commented on #851
The fuse server turns valid inode id, but the fuse driver generates duplicated inode id.

[2022-11-17 14:00] loheagn commented on #831
Hi, @imeoer @CSUDaXiang , I opened a PR to add s3 support to `nydusify convert`. For more information, please refer to the PR #871.

The next target is to add s3 support to nydusd.

[2022-11-18 02:28] imeoer commented on #843
cc @uran0sH will do this, thanks!

[2022-11-18 06:19] imeoer opened #873 "proposal: an extensible rafs blob format"
OCI v1 Image:

[code]

The new changes on `BlobMetaHeaderOndisk` struct:

[code]

Nydus Image:

[code]

Nydus Ref Image (Zran):

[code]

[2022-11-18 06:23] imeoer commented on #608
@zhangshuiyong Fixed in `v2.1.1` release.

[2022-11-18 06:23] #608 closed

[2022-11-18 06:24] imeoer commented on #524
cc @zyfjeff

[2022-11-18 08:46] kevinXYin opened #874 "can not start nydus container"
I run snapshotter with follow cmd manually

`/path_to_snapshotter/nydus-snapshotter/bin/containerd-nydus-grpc  --config-path /path_to_config/nydus-erofs-config.json  --daemon-mode shared  --daemon-backend fscache  --log-level info  --root /var/lib/containerd/io.containerd.snapshotter.v1.nydus  --cache-dir /var/lib/nydus/cache  --address /run/containerd/containerd-nydus-grpc.sock  --nydusd-path /pa

[2022-11-18 09:37] jiangliu commented on #873
For ZRan，how about packing all files into a single blob?

[2022-11-18 09:45] jiangliu commented on #658
new version of dbs-uhttp has been publish, need to update the cargo.lock file

[2022-11-21 02:57] changweige commented on #874
Could you please share your nydus-snapshotter version too?

[2022-11-21 06:53] changweige commented on #658
Already updated dependency on dbs-uhttp. This problem is addressed.

[2022-11-21 06:53] #658 closed

[2022-11-21 06:54] changweige commented on #851
Waiting for next fuse-backend-rs release

[2022-11-21 07:43] jiangliu commented on #873
For discussion record:)
![截屏2022-11-21 15 43 12](https://user-images.githubusercontent.com/1931516/202992715-c3d8618f-a3c6-40d9-b02d-6fa7f4702a6e.png)

[2022-11-21 08:31] liubin opened #878 "Can't start pod in K8s"
Steps to reproduce:

- create a cluster using kind
- after the cluster is created, setup nydus-snapshotter/nydus
- change default snapshotter in containerd's config to nydus
- create a Pod

Result:

2022-11-21T07:37:46.9170843Z Nov 21 07:36:47 kind-control-plane containerd[15756]: time="2022-11-21T07:36:47.945126790Z" level=error msg="RunPodSandbox for &PodSandboxMetadata{Name:nydus-pod,Uid:3280f3

[2022-11-21 08:43] changweige commented on #878
What looks strange to me is containerd is trying to unpack from namespace `default` rather than  `k8s.io` as you are deploying a Pod.
Could you please invoke `ctr -n <ns> content ls` to check its existence? Snapshotter never stores anything in the content store

[2022-11-21 08:51] zyfjeff commented on #878
`Namespace:default` isn't containerd's ns, it just a k8s namespace  @changweige

I guess the reason is that the containerd of the kind uses discard_unpapcked_layers by default, resulting in the content store content discard.

[2022-11-21 09:10] liubin commented on #878
@zyfjeff 's suggestion fixed the issue.

We should add this configuration somewhere like FAQ if have one. @changweige @imeoer

[2022-11-21 12:20] kevinXYin commented on #874
nydusd-snapshotter  master head  03c82d3

[2022-11-21 12:24] changweige commented on #874
I guess it is caused by the fact that nydus-snapshotter does not retain the shared daemon pointer to FS layer during daemon recovering. I will fix it.

[2022-11-22 09:33] changweige commented on #874
will be resolved by https://github.com/containerd/nydus-snapshotter/pull/260

[2022-11-23 02:22] hsiangkao commented on #485
close this one due to https://github.com/dragonflyoss/image-service/issues/873

[2022-11-23 02:22] #485 closed

[2022-11-23 02:30] imeoer opened #884 "proposal: support small chunks mergence"
![image](https://user-images.githubusercontent.com/1524576/203458262-cf6b643d-65ef-4117-a7b3-4cf7e75d4a65.png)

Support merging small chunks (including the tailing chunk for big files) into one batch, so that we can compress and decompress the batch to improve the compression ratio, prefetch and io amplify performance.

[2022-11-23 03:16] imeoer commented on #884
![image](https://user-images.githubusercontent.com/1524576/203462720-a4da0db4-964c-4abf-9452-62b3d4515a72.png)

From @jiangliu: or consider using the `BlobChunkInfoV2Ondisk` struct.

[2022-11-23 03:17] gaius-qi opened #885 "Support for sequential merge chunks"

[2022-11-23 03:18] jiangliu commented on #884
We have built some infrastructure to support ZRan, which could also be used to support this feature requirement.

https://github.com/dragonflyoss/image-service/blob/master/storage/src/meta/chunk_info_v2.rs#L24

You can reuse or introduce a new struct like this one for ZRan:
https://github.com/dragonflyoss/image-service/blob/master/storage/src/meta/zran.rs#L16

[2022-11-23 09:51] changweige opened #889 "Stop all prefetch workers when prefetch is done in fuse mode."
Thus releasing some resources.

[2022-11-23 09:56] changweige opened #890 "Single flight auth request in registry backend"
It is observed that auth request is perform for multiple HTTP requests at the same time.

[code]

[2022-11-23 11:59] #851 closed

[2022-11-24 02:47] imeoer commented on #885
Duplicated with https://github.com/dragonflyoss/image-service/issues/884

[2022-11-24 02:47] #885 closed

[2022-11-24 02:48] imeoer commented on #884
Related dragonfly issue: https://github.com/dragonflyoss/Dragonfly2/issues/1858

[2022-11-24 02:58] imeoer commented on #873
We call the new nydus blob structure `rafs blob v2`:

- rafs blob v2 (native): `blob.raw | bootstrap | [chunk.digests] | blob.meta | blob.header`
- rafs blob v2 (zran): `bootstrap | [chunk.digests] | blob.meta | blob.header`

The changes for `RafsV6Blob`:

[code]

The changes for `BlobMetaHeaderOndisk`:

[code]

For image (merged bootstrap):

Request registry to get `blob.header`, `blob.meta`, `ch

[2022-11-24 06:23] changweige commented on #873
better rename `blob.meta.header` to `blob.meta.footer` ?

[2022-11-24 06:26] changweige commented on #873
Should also rename BlobMetaHeaderOndisk  to BlobMetaFooterOndisk ?

[2022-11-24 06:53] hsiangkao commented on #873
`BlobMetaHeaderOndisk` is too inflexable, many fields are hard-coded at the specific position.
It's a very bad design style, especially for such random toc purpose.

[2022-11-24 07:27] imeoer commented on #873
cc @hsiangkao how about like:

[code]

`blob.raw | blob.meta | tar header (blob) | bootstrap | tar header (bootstrap) | chunk.digests | tar header (chunk.digests)`

and append with:

`TocEntry (blob.raw) | TocEntry (blob.meta) | TocEntry (bootstrap) | TocEntry (chunk.digests) | tar header (toc.list)`

[2022-11-25 10:57] imeoer commented on #843
Will be implemented in https://github.com/dragonflyoss/image-service/pull/893

[2022-11-26 09:49] jiangliu commented on #559
This should have already fixed by read amplification on master branch.

[2022-11-26 09:49] #559 closed

[2022-11-26 09:52] jiangliu commented on #741
There are two possible ways:
1) make use of linux user name.
2) nydus provides a library to be integrated by the application, instead of depending on FUSE.

[2022-11-26 14:14] jiangliu commented on #741
A PR to provide static/dynamic library for C programs is here: https://github.com/dragonflyoss/image-service/pull/896

It's still in early stage, only builds the skeleton to build nydus-clib static/dynamic libraries.

[2022-11-29 04:08] imeoer opened #901 "proposal: how does nydus keep compatibility"
For semver style (`major.minor.patch`) releases, we need to ensure the backward compatibility between minor/patch versions:

For image build:

|                   | converter (new)                              | converter (old) |
| ----------------- | -------------------------------------------- | --------------- |
| nydus-image (new) | ✅ `--features=x,y`                           | ✅

[2022-11-29 06:34] changweige opened #902 "Local compressed blob cache is broken on v2.1.y and nydusd panics"
When setting the compressed blob cache enabled, for the v6 image, the prefetch can't be started due to the absent blob meta.
Moreover, nydusd will panic.

[code]

[2022-11-29 07:02] changweige opened #903 "Debug profile nydusd v2.1.y can't start container image service"
Config:
[code]

containerd error
[code]

nydusd error
[code]

[2022-11-29 07:51] #903 closed

[2022-11-30 03:44] kevinXYin opened #911 "can not reuse data which have been downloaded in fscache mode, when nydusd restart."
In fscache mode , if nydusd restart , all the blob data will be downloaded again. This is because we did not persist the chunkmap for blobs in disk.

To fix this, I think of two ways to try
1. persist chunkmap ,but should find out a mechanism to ensure it is consistent with the blob file.
2. do not presist chunkmap, when create a blob entry restore chunkmap by blob file via SEEK_HOLE.

[2022-11-30 04:23] jiangliu commented on #911
Seems solution 2 is more clear and easy to implement.

[2022-11-30 07:00] kevinXYin commented on #911
yeah， I also prefer solution 2 and am trying to implement.

[2022-11-30 10:22] imeoer commented on #843
Fixed in https://github.com/dragonflyoss/image-service/pull/893, thanks @uran0sH !

[2022-11-30 10:22] #843 closed